[2018-05-24 21:10] davezuko opened #2 "[RFC] Alternatives to Awkward Variant Modifiers"
## Feature Request

### Problem description

In Semantic UI V1 we supported modifiers/variants such as:

[code]

The problem with this is that it's extremely unintuitive, reads awkwardly, and overloads what should be a boolean or otherwise mutually exclusive property (`basic`).

### Proposed solution

This issue is designed to encourage conversation around alternatives to this problem. One simple

[2018-06-06 08:53] hugomn opened #12 "[RFC] Introduction and request to contribute"
## Contribution Request

Hello! I'm with the @infinitecsolutions Front-End team, and we are actively using [SUIR](https://github.com/Semantic-Org/Semantic-UI-React) v0.8. We are now building our company UI library and we plan to have [SUIR](https://github.com/Semantic-Org/Semantic-UI-React) as our base.
We currently have 3 full-time developers focused on building a reusable library and to contribu

[2018-06-06 15:59] levithomason commented on #12
Hi @hugomn, thanks for posting.  We'd love to have your teams input and help.

I will be updating the CONTRIBUTING.md to walk folks through the process of contributing to v2 and Stardust.  In the meantime, you can post any ideas here in the Stardust fork.

Please post a [new feature request](https://github.com/levithomason/stardust/issues/new?template=Feature_request.md).  We'd love to collaborati

[2018-06-06 15:59] #12 closed

[2018-06-06 18:04] brianespinosa commented on #2
I worry that this proposal means that components will have significantly more props on them. I agree with your initial suggestion though that the implicit boolean versus string is unintuitive though.

What if we did something like `basic="default"` for the default implementation for a basic view and switched out the "default" string with whatever the modifier is like "very". Maybe "default" is not

[2018-06-06 20:11] davezuko commented on #2
Definitely agree that an explosion of props is not ideal. That said, I'm not convinced that a default string is the answer, since it would be extremely difficult to come up with a value that is as universal and straightforward as a boolean, especially since the shorthand for `true` is so convenient in React: `<Button basic />`.

Taking a step back, it seems like there's a meaningful distinction be

[2018-06-07 12:39] hugomn commented on #12
Thanks, @levithomason. I'll for sure do that. I'm currently implementing our Multiple Selection dropdown with checkboxes in a fork of SUIR. Do you think it's a good approach to create the new feature request and to make it a candidate for a PR in SUIR v0.8? How should we proceed?

[2018-06-08 00:10] levithomason commented on #2
Note, the result of this conversation will be a direct update to the API guidelines for contributing:

https://github.com/levithomason/stardust/blob/master/.github/CONTRIBUTING.md#api

It is worth reviewing that ^ to understand how and why we have the 4 types of props in the library currently.

[2018-06-08 00:12] levithomason commented on #2
Additionally, I was working on an "API Explorer" which I think I'll return to.  I want to analyze the library's current components and props.

We should know how many different props we have, how many conventions there are, which props are global, which are isolated to a single component, etc.  This will enable us to make data driven decisions on reducing API surface moving forward.  Generating th

[2018-06-13 12:42] levithomason commented on #12
Posting a proposal here would be great. The Dropdown in v1 is unlikely to receive large updates.

[2018-06-13 21:03] hugomn commented on #12
Perfect, will do that. Thanks!

[2018-07-03 20:05] levithomason opened #51 "[ignore]"

[2018-07-03 20:05] #51 closed

[2018-07-12 16:52] brianespinosa opened #76 "Docs URL no longer working after repo rename."
## Bug Report

### Steps
Visit http://stardust-ui.github.io/stardust as defined at the top of the repo description.

### Expected Result
You can see the current set of WIP docs.

### Actual Result
404

### Version
Current

[2018-07-12 16:58] levithomason commented on #76
Thanks, repo rename borked it.  Fixing...

[2018-07-12 16:59] levithomason commented on #76
Been a little while, how are things? 😄

[2018-07-12 17:21] brianespinosa commented on #76
Things are going great. Been MIA due to a massive architectural refactor that is currently underway. I can probably throw my hat into the ring to help with some yarn workspaces stuff in a couple weeks once I am done with some of that work on our end.

We will likely use Stardust under the hood for our component scaffolding. I really like where it's going so far.

Also... now that Stardust is offic

[2018-07-12 17:52] levithomason commented on #76
🔧  Fixed broken docs and broken image paths.

Would be awesome to get more eyes and brains in here.  I'm striving to get our plans back into the open so folks know where things are and what we're thinking next.

I would love some logo ideas!  Here's the piece I was taking for inspiration.  There is way too much detail for this to be a good logo, but I was thinking the concept could be simplified t

[2018-07-12 17:52] #76 closed

[2018-07-13 05:15] levithomason opened #83 "Accordion does not hide JSX content when closed"
## Bug Report

### Steps
1. Open the "Complex content" accordion example.
1. Click the `▼ Pets` title to hide the content.

### Expected Result
The content (list and button) should be hidden.

### Actual Result
The title changes to `▶Pets` which appears closed, however, the content is still shown.

### Version
0.2.0

### Testcase
Use the doc example: https://stardust-ui.github.io/react/components/

[2018-07-13 15:35] levithomason opened #89 "Layout with vertical is still horizontal"
## Bug Report

### Steps
1. Open the Layout vertical example.

### Expected Result
The Layout should be vertical.

### Actual Result
The Layout is horizontal.

### Version
0.2.0

### Testcase
Use the doc example: http://stardust-ui.github.io/components/layout#types-vertical

[2018-07-16 10:30] mnajdova opened #92 "pxToRem rounding"
## Bug Report

### Steps
Use the pxToRem service: pxToRem(32) with default font size of 14px.

### Expected Result
The calculated result in px should be 32.

### Actual Result
The actual calculated result in px is 31.996.

### Version
0.2.0

[2018-07-17 06:11] levithomason opened #95 "feat: add important prop to Text"
## API Proposal

This API proposal extends the Text component.

### important

Text marked important draws the user's attention.

![image](https://user-images.githubusercontent.com/5067638/42799708-abf288c2-894d-11e8-81f2-85d57b18ee4d.png)

[code]

[2018-07-17 06:28] levithomason opened #96 "feat: Extract the Item Layout from the List.Item"
Layouts are invisible and are used to place components into a specific arrangement of areas.  We currently use the "ItemLayout" component in the ListItem to arrange its parts (media, header, content, etc).

This layout will be used in many other places, such as menus.  Stardust will contain a few helpful layouts, of which this is one.

The item layout should be exposed at the top level of the API.

[2018-07-17 07:06] levithomason opened #97 "feat: Base implementation for Grid"
# Grid

This API proposal is for creating a minimal _base_ implementation of a Grid component.  I propose this is done using CSS Grid syntax, respecting IE 11 shortcomings (no gap, no template areas).

Helpful resource: https://learncssgrid.com

## API Proposal

### columns (quantity)

A Grid can define an arbitrary number of columns of equal width.

[code]

![image](https://user-images.githubuser

[2018-07-17 20:55] kuzhelov commented on #92
@mnajdova , could you, please, suggest what was the font size detected for your case? Otherwise it is sort of unclear what should be an expected result. Is your default font size configured to be 32px?

[2018-07-18 16:59] mnajdova opened #112 "feat: add alt property to the Avatar component"
## Api proposal
This API proposal extends the Avatar component.

### alt
alt property for the Image component rendered inside the Avatar component.

[code]
will result into:
[code]

[2018-07-19 12:33] smykhailov opened #119 "[RFC] Accessibility architecture proposal"
## What is accessibility

* sufficient contrast in standard themes
* high contrast theme
* zoom
* keyboard navigation / focus handling / focus highlighting
* screen reader support for virtual cursor and narration

## Goal

* each component must be accessible
* each component should have correct color contrast and high contrast theme defined
* accessibility behavior should be separated from the com

[2018-07-19 14:14] alinais opened #121 "feat: add Menu Icons variation"
## API Proposal
This API extends the Menu component

### icon
![image](https://user-images.githubusercontent.com/1826985/42947738-40576d1c-8b6e-11e8-8c66-43bff83a6b60.png)

[code]

[2018-07-19 14:22] alinais opened #122 "feat: Add Menu Vertical Variation"
## API Proposal
This API extends the Menu component

### vertical

![image](https://user-images.githubusercontent.com/1826985/42948391-acfe7158-8b6f-11e8-8f3c-c5fdb286da41.png)

[code]

[2018-07-19 17:59] jurokapsiar commented on #119
Please look at the **Examples** section in https://github.com/stardust-ui/react/pull/105/files which was left out from this particular description but provides a concrete example of how the parts tie together

[2018-07-19 19:07] levithomason commented on #92
Does the `31.996px` value result in poor rendering by the browser or other visual anomalies?

[2018-07-20 14:19] levithomason commented on #122
Note, we will only be tackling the vertical items for first iteration of this one.  The labels inside the items can be ignored as well as the input.

[2018-07-20 14:20] levithomason commented on #122
@miroslavstastny ^

[2018-07-20 14:44] levithomason commented on #121
Note, our use cases for the icon menu should be styled a bit differently.  There is no background, shadows, or borders:

![image](https://user-images.githubusercontent.com/5067638/43007764-29621672-8bee-11e8-99ec-3c6e2e9aea11.png)

In this case, a background color matching the message is applied to the menu to occlude the timestamp:

![image](https://user-images.githubusercontent.com/5067638/43008

[2018-07-20 15:07] kuzhelov commented on #121
what I do see as a solution here is to allow merged `variables` to be consumed inside `renderComponent()` method. Currently we are passing, essentially, only class names there (if we would speak about visual aspects). With that this problem seems to be easily solvable:

[code]

This mechanism is explicit, easy to debug and, to my mind, is able to accomplish the tasks you've mentioned. @levithomaso

[2018-07-20 19:13] davezuko commented on #2
Moved to https://github.com/stardust-ui/react/issues/2.

[2018-07-20 19:13] #2 closed

[2018-07-24 17:21] Bugaa92 commented on #97
@levithomason

I started working on this and got a few questions for the first version:

**1.** Is this the complete API? It looks a bit limiting to have only these props (I extracted them in an interface):
[code]

**2.** Shouldn't we add a sub-component for children (`GridItem`)? On [CSS Tricks for Grid](https://css-tricks.com/snippets/css/complete-guide-grid/) there are plenty of examples on how

[2018-07-30 12:31] #112 closed

[2018-07-31 08:44] #96 closed

[2018-07-31 09:27] #95 closed

[2018-07-31 09:28] alinais commented on #83
fixed

[2018-07-31 09:28] #83 closed

[2018-07-31 11:57] jurokapsiar commented on #119
closing as this will be moved to the new repo

[2018-07-31 11:57] #119 closed

[2018-08-03 21:11] levithomason commented on #122
Here's a styled example.  This is a vertical menu.  The indicator line on the left is achieved with the `pointing` variant.  I think we should allow `pointing="left|right"` to place the indicator on the correct side as well.

![image](https://user-images.githubusercontent.com/5067638/43666028-f572c8cc-9726-11e8-8806-3a06c7f2405c.png)

Different themes will have different ways of implementing "poin

[2018-08-06 16:00] levithomason commented on #89
Fixed

[2018-08-06 16:00] #89 closed

[2018-08-16 11:19] kuzhelov commented on #92
if all these are supported, we can introduce the following type definition that will reflect this semantics:

[code]

No other changes are needed.

[2018-08-16 11:49] smykhailov commented on #92
The intent of this PR is to fix the issue.
I agree with all proposals and comments, but this is a different task, which has to be handled with another PR. I propose to merge this one as it is, as they are valid and following the suggestions. Ther is only one thing not addressed this, it is the fact that we have redundant `root?` the property, which we have to remove. But there are few other interf

[2018-08-16 12:49] smykhailov commented on #89
I'm afraid that there is the problem with the approach to link @stradust-ui/react in the ts-app. As in this case, we link it in the same folder structure as it is presented in the source code, not the one which we will distribute and we will not be able to catch the issues with relative paths imports in d.ts files

[2018-08-16 20:44] levithomason opened #101 "[RFC] API for component parts, shorthand, and variants"
👉  I've scoped this discussion to `icon` to illustrate the point, but the concept applies to all props.

***

# Problem

We need to solidify our API pattern for dealing with the `icon` prop.  The prop name `icon` can mean different things in different contexts.  It also creates conflicting APIs in some cases.

Consider all the forms of `icon` in the API currently:

## Icon parts
Component parts ar

[2018-08-20 18:10] levithomason commented on #95
Closing as #96 takes care of the original post.

[2018-08-20 18:53] levithomason opened #117 "Add typings for component props"
## Feature Request

### Problem description
We are missing or have removed props typings in our components.

### Proposed solution
See #33 fo the discussion and agreement on this proposal.  Let's do this one component and PR at a time to give room for addressing issues that will arise.

1. Add props typings only for `handledProps` as this is most helpful to the user.
1. Make all props interfaces e

[2018-08-20 19:04] levithomason commented on #117
/cc @kuzhelov @mnajdova @Bugaa92

[2018-08-20 22:35] levithomason commented on #117
It is worth nothing that we have a few global props such as `variables`, `styles`, and `as`.  This actually excludes some edge case components like Portal and Provider.  However, we should consider how we advertise these prop in docs and enforce them in tests.

[2018-08-22 18:13] kuzhelov commented on #83
@silviuavram, may I, please, kindly ask you to update the description of this PR, so that it would be easier to onboard more reviewers :) Thanks!

[2018-08-23 11:10] mnajdova commented on #121
Everything looks ok so far, but I would suggest adding some tests for covering this, especially because is something general used in the renderComponent.

[2018-08-23 11:42] miroslavstastny commented on #121
Done in stardust-ui/react/pull/73

[2018-08-23 11:42] #121 closed

[2018-08-23 11:46] sophieH29 commented on #121
@mnajdova sure, working on it right now

[2018-08-24 17:33] bcalvery opened #134 "[RFC]feat(Avatar): Cross Compatible Image Clipping"
## How to accomplish Cross Platform Compatible Image Clipping <br> (for Avatar)

### Problem description
The desired visual treatment for the Avatar in Teams is to have the background show through the gap between the "presence" icon and the image. Currently in Teams we fake this by passing the background color to the avatar so it can draw a correctly-colored circle behind the presence indicator. I

[2018-08-24 21:23] bcalvery opened #136 "[RFC]theming: Theme-provided or theme-restricted Enumeration?"
## Theme-provided or theme-restricted Enumeration?
How can a theme **restrict usage of possible variables**, or **provide a custom range of variables**. And how can other theme-specific information be provided in a more abstract/customizable/flexible way?

### Problem
Right now there are multiple _enums_ which are defined in _src_. Specifically there are (for the Text component) _Sizes_ and _Weigh

[2018-08-28 17:20] aniknafs opened #149 "Provider type errors"
## Bug Report
Usage of Provider is triggering errors in the definition file of Provider (provider.d.ts).
There have been no issues in 0.2.6/0.2.7 when `commonjs` version was exported instead of `es`

### Steps
[code]
### Expected Result
No errors.

### Actual Result
WARNING in [at-loader] ../../../node_modules/@stardust-ui/react/dist/es/components/Provider/Provider.d.ts:19:47
    TS1005: '>' expec

[2018-08-29 13:34] kuzhelov opened #158 "Allocated memory bloat on project build attempt (yarn build)"
## Bug Report

### Steps
- clone branch of https://github.com/stardust-ui/react/tree/bug/tsc-memory-allocation
- try to build it
  - `yarn install; yarn build`

### Expected Result
Build suceeds

### Actual Result
Build fails with the following problem

![image](https://user-images.githubusercontent.com/9024564/44791043-6eb55380-aba9-11e8-8429-69b5b5ac3c4a.png)

[2018-08-29 13:38] kuzhelov commented on #158
## Key takeaways

- major impact is provided by enabled `strictNullCheck` TS compiler flag
  - `skipLibCheck`, `skipDefaultLibCheck`, `noStrictGenericChecks`
- while yes, we can fix types for this PR and 'resolve' CI build issue for it, with that we will effectively agree that **stability of our build infrastructure is dependent on the code we are providing in sources (?!)**
- introduce larger all

[2018-08-29 14:00] kuzhelov commented on #158
as problem is reproing only for docs build, maybe it makes sense to apply disabled `strictNullChecks` flag only for the docs files? However, problem's scope should be strictly defined first..

[2018-08-29 22:36] levithomason commented on #149
Fixed in the suspect repo.  There was no Stardust bug here 🎉

[2018-08-29 22:36] #149 closed, assigned to nobody

[2018-08-30 11:48] silviuaavram opened #161 "[RFC] Provide merged props and state to Styles and Accessibility"
## Feature Request
The feature is meant to provide a unified object of the component's `props` and `state` in the context of Styles and Accessibility.

### Problem description
So far, in both the cases of Accessibility and Styles, it was required that we have access to both state and props when applying custom behaviour or styles to the component.

The following scenarios should be considered as m

[2018-08-30 12:09] miroslavstastny commented on #119
Also add `docs/src/componentMenuBehaviors.json` to `.gitignore`

[2018-08-30 13:28] kuzhelov opened #162 "[RFC] Decouple variables passed to child components from parent component's logic"
from @levithomason post:

## Motivation

Any variables or styles used directly in a component's logic implicitly become part of a global theming interface.

All themes will have to implement `variables.typePrimaryColor`, for instance, in order for this to work.  Additionally, we are removing the styling from the theme and baking it into the component instead.

We would like all theming values and

[2018-08-30 13:34] kuzhelov commented on #162
Agree with all the points provided. We've had similar discussion with @miroslavstastny where exactly the same points were raised by him - at that point we've decided to pass variables directly in component's logic, primarily for the sake of not introducing additional complexity for theme mechanisms that were just introduced then (and, thus, were not exploited enough to be considered as robust solu

[2018-08-30 14:35] hughreeling opened #163 "Getting error while importing from module themes/teams"
## Bug Report
 Error is cannot find module @stardust-ui/react/themes/teams. Using Stardust version : 0.4.0.  Branch Name: Tempbranchproviderissue
import {
fontFaces,
staticStyles,
theme
} from "@stardust-ui/react/themes/teams";
"

### Steps
A clear and concise description of steps to reproduce the problem.
Steps to reproduce:
yarn install
yarn run storybook

### Expected Result
The result that you

[2018-08-30 15:06] levithomason commented on #163
Working on this one.

[2018-08-30 15:32] levithomason commented on #161
Problem 👍
Proposed solutions 1 and 2 👍

As for the style function argument, even though `props` was popularized by React it seems many CSS in JS libraries call this argument `props`, even if they aren't supporting React.  Some also call it `state`, as CSS in JS is also described as "styles as a function of state."

I think we should look around at the ecosystem and make a determination based on wh

[2018-08-30 18:01] #163 closed, assigned to levithomason

[2018-08-31 16:25] levithomason commented on #162
After thinking this through more, I also think proposal 1 is ideal.  It introduces no new concepts or patterns.  It is both more simple than proposal 2 and more powerful.

[2018-09-01 13:09] echarles opened #170 "Why fela?"
I am wondering the reasons why `fela` has been chosen instead of e.g. `styled-components`.

I guess fela brings `state` on top of styling - Never used it, so curious to know how `stardust-ui` uses it.

[2018-09-01 13:13] echarles opened #171 "State management in-scope?"
Upon current scope for `stardust-ui` (*), is `state management` (redux...) a target? This would be a nice needed feature.

(*)  Creating Components,  CSS-in-JS, Theming, Component API, Shorthand API, Event Stack, HTML Font Size, Parent Child Coupling

[2018-09-01 13:15] echarles commented on #170
I guess part of the answer to `why` can be found on https://github.com/Semantic-Org/Semantic-UI-React/issues/2708#issuecomment-382984665

Still, would be good to bring light in this repo.

[2018-09-01 13:18] echarles commented on #171
Food for thought: local and global state with constante https://medium.freecodecamp.org/reacts-new-context-api-how-to-toggle-between-local-and-global-state-c6ace81443d0

[2018-09-03 04:37] miroslavstastny opened #172 "Docsite: watch issues"
## gulp watch does not pick changes on Windows

1. On Windows, run `yarn start`
2. Edit component source
3. `build:docs:docgen` should be triggered, but nothing happens

The reason is that the watch path contains backslashes as `path.resolve()`, which is used to construct it, uses backslashes on Windows.
According to [documentation](https://github.com/isaacs/node-glob/blob/master/README.md#windows

[2018-09-03 13:07] kuzhelov commented on #162
thanks - let me introduce PR for having more concrete discussion over the first option then..

[2018-09-03 13:12] kuzhelov commented on #161
required functionality is now introduced, let's spend some time to figure out if something needs to be changed for the name of `props` - based on the experience of other libs (totally agree that we'd better to stick to commonly taken approach).

[2018-09-03 13:29] hughreeling opened #176 "Rename 'rest' to 'unhandledProps'"
From Levi:
rest is carryover from Semantic UI React.  It came from doing const { size, ...rest } = this.props.   However, since it is really the return of getUnhandledProps, it probably makes sense to call it unhandledProps.  This is also pretty clear as to what it is.

[2018-09-03 13:31] hughreeling commented on #161
Perhaps also do https://github.com/stardust-ui/react/issues/176

[2018-09-04 00:14] kuzhelov commented on #119
Couple of minor comments - please, take a look.

Also, please, consider to review changes that were reported by Screener.

Thank you!

[2018-09-04 14:44] kuzhelov commented on #83
it would be great if @levithomason would take a look on this PR as well

[2018-09-04 19:46] miroslavstastny commented on #162
My (still the same) opinion is *if we access theme variables in component source, layers are broken*.
I completely agree with the proposal to decouple it, I love Proposal 1.

[2018-09-05 07:25] miroslavstastny opened #184 "[RFC] Typescript type checking options"
Stardust uses Typescript, but all it's [type checking options](https://www.typescriptlang.org/docs/handbook/compiler-options.html) are disabled, which kills a lot of Typescript's power.
Enabling (some of) the checks would make the code better and it'd easier to enable them in the early stage of the project.

I went through the list of compiler options which could be worth considering and also chec

[2018-09-05 09:10] kuzhelov commented on #184
There was a TS compilation problem caused by `--strict` flag which has enabled all these checks for our project (#158) - as a result, we've had to (temporarily) disable it.

Agree that proposed strategy to incrementally introduce this functionality back (by means of these discrete flags) is a good option for us, so that we will be able to carefully weight benefits and potential TS compilation prob

[2018-09-05 10:00] silviuaavram opened #186 "Add MenuItem disabled prop"
## Feature Request
As a result of https://github.com/stardust-ui/react/pull/83 , it is required for the MenuItem Component to handle the `disabled` prop and act accordingly.
### Problem description
The `disabled` prop has been added to MenuItem, in order to be used to add the `aria-disabled` attribute on the element. However, adding this prop should trigger the actual disabled behaviour for the me

[2018-09-05 12:47] jurokapsiar opened #188 "Wrong secondary button border in Firefox and Safari"
## Bug Report

### Steps
Open https://stardust-ui.github.io/react/components/button
Scroll to Emphasis variant
Observe the secondary button border.

### Expected Result
Chrome:
![image](https://user-images.githubusercontent.com/13742664/45094062-85fcbf80-b11a-11e8-847d-a854a8339ee7.png)

### Actual Result
Firefox and Safari:
![image](https://user-images.githubusercontent.com/13742664/45093971-5352

[2018-09-05 21:21] levithomason commented on #184
Note, we resolved to disable strictNullChecks for now and align closely to projects A and B.

[2018-09-06 10:03] kuzhelov opened #190 "Add accessibility rules validation for docs examples"
## Add accessibility checks for HTML rendered by component examples

It would be great to provide docs user with a feedback about accessibility correctness for the component example code (potentially edited). Currently we have `htmlIsAccessibilityCompliant` test (which relies on `aXe` lib - #156), and it seems that its functionality can be reused to achieve this goal.

[2018-09-06 11:23] tomasiser opened #191 "Menu item `href` breaks focus (necessary to TAB twice)"
## Bug Report

### Steps
1. Go to https://stardust-ui.github.io/react/components/menu, version 0.5.0.
1. Edit the first example by adding `href: '#'`, e.g., with the following code:
[code]
1. Try keyboard navigation (`TAB` key) on the menu.

### Expected Result
Pressing `TAB` moves you to the next menu item, `Shift+TAB` to the previous one.

### Actual Result
It is necessary to press `TAB` or `Shi

[2018-09-06 12:59] miroslavstastny commented on #184
@kuzhelov - AFAIK the problem in #158 was caused by `strictNullChecks`, so, hopefully the others should be safe for build performance.
`stringNullChecks` is disabled in other projects as well, we are not going to enable it in stardust for now.

**Plan:** `noImplicitReturns` is now enabled by #185, I am going to enable others (`noImplicitAny`, `noUnusedParameters`, may be `noUnusedLocals` and `noIm

[2018-09-06 13:02] jurokapsiar opened #192 "Nested lists"
## Feature Request

Nested (closable) list

### Problem description
Even though Accordion does conform ARIA best practices and renders correct HTML from this point of view, we were not able to successfully use it in the nested lists use case (similar to https://stardust-ui.github.io/react/components/accordion#variations-list)

The HTML structure does not allow the screen readers to navigate correc

[2018-09-06 13:19] alinais opened #193 "[RFC] Provider: Font sizes from Teams' theme siteVariables are too large"
## Bug Report

### Steps
Provider: is now getting siteVariables from Teams' theme. Font sizes are too large.

### Expected Result
The font sizes are as expected expected.

### Actual Result
Font sizes are too large, with following changes, they look much closer to the existing Teams app:
bodyFontSize = "1rem" => "1.4rem"
htmlFontSize = "10px" => "14px"

### Version
0.5.0

[2018-09-06 13:22] alinais opened #194 "[RFC] Input - need to support type="number""
## Feature Request

### Problem description

Input: only supports text type.
we need type="number"
defaultValue only accepts string (and not integer)

[2018-09-06 13:25] alinais opened #195 "[RFC] Radio - create group options and add event handlers"
## Feature Request

### Problem description
A clear and concise description of what the problem is. Ex. I have an issue when [...]

### Proposed solution
A clear and concise description of what you want to happen. Add any considered drawbacks.

### MVP
[Fork, update, and replace this pen if you can show the proposed solution]:
https://codesandbox.io/s/2l3n74j9y

[2018-09-06 13:26] alinais opened #196 "[RFC] Grid - missing positioning/alignment/padding props"
## Feature Request

### Problem description
Grid - missing positioning/alignment/padding props

[2018-09-06 13:31] alinais opened #197 "[RFC] Form - base implementation"
## Feature Request

### Problem description
A basic Form component is missing

[2018-09-06 13:36] alinais opened #198 "[RFC] Rail - base component"
## Feature Request

### Problem description
Rail base implementation

### Proposed solution

[2018-09-06 13:56] miroslavstastny commented on #191
`getElementType()` takes `getDefault` parameter but `renderComponent()` never sets that. There is no way how a Component could override that.
@levithomason, @mnajdova, @kuzhelov - before stardust-ui/react-old#21 there was such a possibility. Can we add it back?

[2018-09-06 16:20] mnajdova commented on #193
The htmlFontSize is already 14px. Maybe we should just change it from 14px -> 10px and stay with the bodyFontSize to be 1rem?

[2018-09-06 17:52] mnajdova commented on #194
The input already support type='number'.

![image](https://user-images.githubusercontent.com/4512430/45175719-634bd300-b20e-11e8-834f-9d4eeb0cc219.png)

Is there some additional logic that we should implement if the type is number?

[2018-09-06 18:15] kuzhelov commented on #191
Agree that using `getDefault`parameter of `getElementType()` function might be a first step to resolve this problem.

At the same time, the following line of `getElementType` seems like a black magic to me:

[code]

**_Where this functionality might come in need?_** It seems to be always possible for a client to specify `as='a'` alongside with `href`, so that desired effect would be achieved - and

[2018-09-06 18:38] brianespinosa opened #201 "[RFC] Naming of <Label> and <label> relative to an Input component"
## Feature Request

### Problem description
Inside of an Input component we have the concept of a Label component which attaches to the front or back of an input. This is different than the native `<label>` which appears above an input (or to the left if the input is inline). This leads to confusion for the user, especially when using the shorthand API. When I set something as the `label` prop, am

[2018-09-06 19:20] miroslavstastny commented on #191
Yes, adding `href` to handledProps in `MenuItem` is my plan.
@levithomason - any strong reason against removing `if (props.href) return 'a'` from `getElementType()`?

[2018-09-06 19:59] miroslavstastny opened #203 "[RFC] props vs variables boundary"
I still don't have a firm understanding of what defines a boundary between props and variables. I am not proposing any change, I am just playing devil's advocate to make sure stardust architecture is correct. I am trying to define the boundary in order to be able to make decisions when designing component API.

A possible definition which makes sense to me is **whatever is used in the component co

[2018-09-06 22:26] levithomason commented on #203
I agree with the presence of this issue.  I'm also not 100% sure about the boundary between theme variables and component props.  I do have an intuition and proposal for starters.

First, it is important to note that:
1. Stardust props APIs are:
    1. Attempting to describe preexisting UI concepts that have emerged over time.
    1. Proposing a standardized language for these concepts.
    1. Pro

[2018-09-06 22:32] levithomason commented on #170
Thanks for the question.  We're not actually set on `fela` at this point.  We do know we need a library that:

- has the best perf
- includes react-native support
- includes vanilla JS support
- avoids proprietary convetions
- has a small footprint
- can be easily extended or replaced

So far in my research, fela does the best job at these things in concert.

Stardust's goal long term is not to be

[2018-09-06 22:32] #170 closed, assigned to nobody

[2018-09-07 11:06] kuzhelov commented on #117
lets close it as main concern expressed by this issue is addressed now

[2018-09-07 11:06] #117 closed, assigned to nobody

[2018-09-07 11:10] kuzhelov commented on #201
My absolute support on this proposal - also, we should make it clear that provided Stardust `Input` component has one-to-one correspondence to `input` DOM element in general (so that any input attributes supplied to `Input` component should be reflected by its look and behavior) - and, at the same time we should provide these extensibility mechanism to enhance visual look of `Input` for certain sc

[2018-09-07 11:20] kuzhelov commented on #193
this has been addressed by #204 - now for `Teams` theme the same font sizes (and strategy to apply them) are used

[2018-09-07 11:20] #193 closed, assigned to nobody

[2018-09-07 11:23] kuzhelov commented on #161
this one is addressed by #173, closing

[2018-09-07 11:23] #161 closed, assigned to nobody

[2018-09-07 11:24] kuzhelov commented on #158
will be addressed and tracked by #184, closing

[2018-09-07 11:24] #158 closed, assigned to nobody

[2018-09-07 15:56] brianespinosa commented on #201
I think this makes sense for any of our components that specifically target DOM elements and share names with them. Basically all of the Form components (TextArea, Input, etc).

Regarding names, I think any of these three are fine and have good semantics. If nobody has a pick for one over the others, I'd go with `addon` for brevity. Other than that, I don't have a preference.

[2018-09-10 15:25] bmdalex opened #210 "[RFC] Popup position"
## Popup position

We are currently implementing a `Popup` component (#150) and in the first version of the API we're still undecided how to define the `position` of the `popup` relative to its `trigger` element (the element that created the `popup` and offers relevant info about positioning it).

### Problem description
In our terminology, element has four sides - `start`, `end`, `top`, `bottom`.

[2018-09-10 15:41] levithomason commented on #210
Excellent write up, thanks!  I would go with proposal 2, `position` prop and `align` prop.  This is also consistent with other component props we have.

[2018-09-10 15:44] levithomason commented on #210
Per our call, most agree with proposal 2 so let's start there.

[2018-09-11 15:38] bmdalex commented on #210
implemented in #150

[2018-09-11 15:38] #210 closed, assigned to nobody

[2018-09-13 09:48] #162 closed, assigned to nobody

[2018-09-13 14:20] hughreeling commented on #89
Fixed build on windows and updated dependencies to fix various errors related to bugs in @type/history etc.
Now runs and completes when run yarn test:projects:es.

I think we still need to add this as part of release - but please review changes first.

[2018-09-14 00:50] omkarsravan opened #226 "Need an svg icon for 'gif' button"
Looking to create a button with a svg icon, like so:
 <img width="40" alt="screen shot 2018-09-13 at 3 51 09 pm" src="https://user-images.githubusercontent.com/39198343/45520152-e1f3c380-b76c-11e8-8536-8ce7cb4b325f.png">
But I don't see an Icon that is an equivalent to this. Any help?

[2018-09-14 07:34] levithomason commented on #89
Seems CI doesn't like the `cd` command.  This works locally, so we'll have to get that sorted out:

[code]

[2018-09-14 09:10] kuzhelov opened #230 "Theme-defined icons support (including SVG, font-based)"
## Feature Request

### Problem description
Currently it is impossible for theme author to define set of icons that could be rendered by `Icon` component. Specifically, if theme author would like to introduce icon `foo` and consume it in the following way with her theme being applied, currently there is no way to achieve that

[code]

### Proposed solution
Here is the plan we see to address this i

[2018-09-14 09:13] kuzhelov commented on #226
@omkarsravan, this is a broader issue we are currently focused on to resolve (#230). Please, consider to look on this feature request to review the work that is already done - I will introduce status updates there as well.

[2018-09-14 09:13] #226 closed, assigned to nobody

[2018-09-14 09:20] kuzhelov opened #231 "Prop-dependent variables"
## Feature Request

### Where we are now

Agreed on the following task (https://github.com/stardust-ui/react/issues/231#issuecomment-421973984) to be solved first by trying to prototype each of the suggested approaches. Here are prototype links to try:

- CSS-based approach prototype (#240)
- JS-based approach prototype (_about to come_)

-------------

### Problem description
After syncing up wit

[2018-09-14 09:20] kuzhelov commented on #231
@levithomason's response:

I'm not sure we should move forward with this pattern just yet.  It is a big change that has many implications.  I also spent some time discussing it with Fabric yesterday and I think we reached a few good conclusions:

It seems there are only two options here.
1. **Many variables** - Code combinatorial variables for every component (primaryBackground, primaryDisabledBac

[2018-09-14 09:21] kuzhelov commented on #231
## Objections

Let me, please, directly challenge the examples of styling `Radio`'s icon you've suggested:

[code]

Unfortunately, this approach is not robust enough - more than that, for some scenarios (including the one you've suggested) it simply won't work. Let's face it - here our intent is to define icon's color, and previously _variables were able to abstract us away from the implementation

[2018-09-14 09:21] kuzhelov commented on #231
@levithomason's response:

Agree, however, compare the alternative.  I'm afraid there isn't a reasonable alternative here.  If there is, please elaborate as I'd like to not have to go this path.

### Child Icon _styles_ is a _challenge_

The challenge of handling child style implementation details exists but is not a blocker by any means.  It is already required to be solved in the theme whether o

[2018-09-14 09:52] kuzhelov commented on #231
Let me, please, respond to each of the points raised:

## Child Icon styles

Actually, I see it being more like a blocker. Let me follow up on the example that you've suggested:

Essentially, this applies something like the following:

[code]

Although it seems to be a simple solution, its simplicity is very deceptive. First thing that we might consider is that now we would need to provide `applyS

[2018-09-14 13:28] #172 closed, assigned to miroslavstastny

[2018-09-14 16:07] levithomason commented on #191
delete it 👍

[2018-09-14 18:18] bmdalex opened #237 "CSS shorthand properties do not work well when styles are overwritten"
## CSS shorthand properties do not work well when styles are overwritten

### Steps
I'm using the `Divider` component and want to change the default CSS `margin` to another value.

In `marginStyles.tsx`, the default margin is set using `marginTop` and `marginBottom`, like this:
[code]

What I did was to overwrite the margin using `margin` CSS shorthand like this:
[code]

### Expected Result
The `D

[2018-09-14 22:11] levithomason commented on #231
Let's pair program on a prototype for this.  I think it will help communication.

The issue isn't icon needing to apply color on hover of its own root. The issue is when icon needs to receive color on _hover of the parent_.  The example shown only works when you hover the icon itself.  Try to implement `.ui-button:hover .ui-icon`, with a variable function for instance.  You'd be doing this:

[code

[2018-09-17 11:19] kuzhelov commented on #231
Agree on most of the parts. Let me, please, summarise on where we are at the moment.

## Problem

Essentially we've come up with the following problem that we would like to find solution for:

## Solution areas

What we've agreed upon is that there are, actually, two main approaches to solve this task:
- CSS-based. Specifically, it means that **_at runtime_** all these style changes for child comp

[2018-09-17 11:27] kuzhelov commented on #231
At the same time, I am not completely agree that we should end up with the approach that will explicitly suggest CSS styles to child (slot) component, like the following:

[code]

The reason, once again, is that with this we won't be able to advertise these slots as something that could host any component - as we will, essentially, couple styles of **_specific_** child component with styles of its

[2018-09-17 12:14] kuzhelov commented on #237
Thanks for a very nicely structured post, as well as for the appealing example provided - absolutely agree with your concerns on that 👍

This is a known limitation of CSS-in-JS approach, this is nicely described here: https://fela.js.org/docs/introduction/Caveats.html#2-shorthand--longhand-properties

Also, there is a general hint provided there that we could consider as a way to solve this proble

[2018-09-17 15:33] bmdalex opened #241 "RFC: Layout and ItemLayout render a big amount of nested DOM nodes"
## Layout and ItemLayout render a big amount of nested DOM nodes

### Steps
I was trying to reuse and `ItemLayout` (and `Layout`) Stardust components to re-write the `Chat.Message` component since it looked that I can leverage the logic provided by `ItemLayout` props (`media`, `endMedia`, `header`, `headerMedia`, etc) to add `author` and `date` props to `Chat.Message`.

However, I realized these l

[2018-09-18 15:07] mnajdova opened #246 "[RFC] Build process on CircleCI is taking too long"
## Feature Request

### Problem description
The build process on CircleCI is taking too long (from 5:30 - 7:30 mins approx). We should think of ways of how to improve this time.

### Proposed solution
From @levithomason: CircleCi gives us a max parallelism of 4. This allows us to split tests up across 4 machines at once. We can drastically reduce the amount of time for testing if we use this featu

[2018-09-19 14:27] jurokapsiar commented on #191
on top of what was mentioned, all attributes relevant to the `<a>` need to be rendered on the anchor - `href`, `rel`, `target`, ...

[2018-09-19 18:15] notandrew commented on #188
fixed with #216

[2018-09-19 18:15] #188 closed, assigned to nobody

[2018-09-19 18:18] notandrew commented on #192
Is this a common pattern/component that we'll need to support, or should this be built as a one-off component?

[2018-09-20 14:13] hughreeling opened #257 "RFC: Clarify logic and naming around styling and themes"
## Feature Request

### Problem description
Multiple areas around this are currently confusing to new users.
1) Very unclear what variables are available and how they affect a particular component
2) Naming is particular issue:
  Why aren't 'Site variables' - 'Theme variables'
  What is different between styles, variables and props on a component and how do they influence it
3) DocSite doesn't cur

[2018-09-20 23:57] kuzhelov commented on #89
closing as the issue this PR targets was addressed by #248

[2018-09-21 15:31] bmdalex opened #263 "react-popper has a forbidden dependency for Microsoft"
## Bug Report

We're using `react-popper` npm package to create `Popup` components with correct positioning around the trigger elements.

This package has a dependency on `create-react-context`, a package that **specifically excludes Microsoft (among other corporations) from the list of users** : [react-popper license](https://github.com/jamiebuilds/license).

**Therefore, Microsoft cannot use Sta

[2018-09-21 15:47] bmdalex commented on #263
Feedback much appreciated
@levithomason @mnajdova @alinais @miroslavstastny @kuzhelov

[2018-09-21 16:03] kuzhelov commented on #263
@Bugaa92 here is a commit where he license of this package has been reverted back to true MIT one:

https://github.com/jamiebuilds/create-react-context/commit/f31c9edb9a1f93d5e673de5ea8b1e09a46f9b407#diff-9879d6db96fd29134fc802214163b95a

[2018-09-21 18:04] musingh1 opened #265 "Popup should support controlled mode / ContextMenu component"
## Feature Request

### Problem description
We need a way to be able to override the open state of the Popup. e.g. when clicking on the items in the popup, we need to close the popup -
![image](https://user-images.githubusercontent.com/22622723/45897799-fa776580-bd8c-11e8-97de-ed8cac5e0ed8.png)

### Proposed solution
Provide a way to say that the popup is closed now. Note - We still want to re-use

[2018-09-21 18:56] bmdalex commented on #263
addressed in #264

[2018-09-21 18:57] #263 closed, assigned to nobody

[2018-09-24 09:09] kuzhelov commented on #257
Absolutely agree with each point of the Problem Description section. Have some thoughts around the resolution section, though:
- ` prefer instead themeColor / buttonColor`
  - suppose that we will chose the approach on naming variables with the component name being included: `buttonColor`, `iconBorder`, etc. This naming strategy could introduce quite a lot of maintainability problems to theme auth

[2018-09-25 00:58] kuzhelov commented on #265
@musingh1, thanks for posting this issue! At the moment we are working on PR that will address this problem.

[2018-09-25 01:03] kuzhelov opened #276 "Stardust is unconsumable for TS client project with no --skipLibCheck flag"
## Bug Report

### Steps
- create test app project: `create-react-app --scripts-version=react-scripts-ts`
- add Stardust as a dependency: `yarn add @stardust-ui/react`
- reference some components from Stardust in `App.tsx`
- try to build the project

### Expected Result
Project builds successfully.

### Actual Result
Project fails to build 💣

### Version
0.6.0

[2018-09-25 01:06] kuzhelov commented on #276
According to preliminary debugging takeaways:
- this problem is caused by compiler providing shorthand paths instead of relative ones for Stardust `.d.ts` files (when Stardust package is built prior to its publishing)
- our ad-hoc gulp plugin (that is aimed to substitute shortcut paths with relative ones) currently targets only the paths that start from `src` (this was done intentionally at initia

[2018-09-25 19:46] levithomason commented on #276
Noting this is present in the latest 0.7.0 as well.

[2018-09-26 14:01] jurokapsiar commented on #195
fixed in https://github.com/stardust-ui/react/pull/229

[2018-09-26 14:08] #195 closed, assigned to jurokapsiar

[2018-10-01 10:36] kuzhelov opened #288 "Popup position example is not working properly in RTL mode"
When RTL mode is changed for `Popup` position example, popups are displayed improperly in the following sense:
- position of arrows on buttons should reflect RTL mode properly (while no changes are applied now)
- position for Popup is not switched (i.e. `start` and `end` values are not honoured)

![ezgif com-gif-maker 1](https://user-images.githubusercontent.com/4512430/46282562-20152380-c572-11e8

[2018-10-01 12:38] bmdalex commented on #288
@kuzhelov @mnajdova
This actually works correctly; it just seems it doesn't because the grid used to display the buttons is completely mirrored in terms of CSS styles; to verify this just add different backgrounds for the 3 columns as in my DEMO below:

![cnsbef2zcj](https://user-images.githubusercontent.com/5442794/46288793-40031200-c587-11e8-9f35-3121c5b98235.gif)

So let's close this and (as @m

[2018-10-01 12:48] kuzhelov commented on #288
@Bugaa92, thanks a lot for these insights! Maybe we should consider to apply some additional styles, just for the sake of making this fact more visible.. In either case, let me close this issue for now and see if we'll need to return to it - then we could consider additioanl styles tweaks to be introduced :)

[2018-10-01 12:48] #288 closed, assigned to nobody

[2018-10-01 12:58] aichi opened #289 "Select component"
## Component for Select box

There should be visual component which supports styling and renders as a HTML Select element. Similar to one used e.g. in Microsoft Teams application for device selection during call.

[2018-10-01 13:07] aichi opened #290 "High Contrast theme"
## High Contrast theme

### All application sold in US should be A11y ready
Please provide high contrast theme for all components available in Stardust.

[2018-10-01 14:26] kamilakorzec opened #291 "Missing key in AccordionContent"
## Bug Report
Creating Accordion using panels props causes missing key
### Steps
1. Create Accordion using the panels props. Example (from the docs):
[code]
### Expected Result
Both AccordionTitle and AccordionContent have key prop related to the specified key.

### Actual Result
AccordionTitle has key related to its content (for a string it duplicates the string value). AccordionContent has no ke

[2018-10-02 14:29] alinais commented on #290
@aichi, we have already a planned item that will take care of updating the high contrast mode theme. Stay tunned!

[2018-10-02 15:02] kuzhelov opened #294 "Popup appearance in the DOM tree"
## Bug Report
The issue is related to where `Popup`'s rendered HTML is placed in the DOM tree.

### Steps
- open Stardust docs, navigate to Popup page: https://stardust-ui.github.io/react/components/popup
- toggle popup for the first example
- observe where Popup's HTML is rendered in the DOM tree

### Expected Result
It should be rendered as body's last child. This requirement is necessary for St

[2018-10-02 15:07] kuzhelov opened #295 "Popup is not opening on trigger's 'enter' key press"
## Bug Report

Popup is not displayed when `Enter` is pressed while trigger element is focused.

### Steps
- open Stardust Docs page, navigate to Popup: https://stardust-ui.github.io/react/components/popup
- for the first (default) example - focus on button and press `Enter`

### Expected Result
- alert message is displayed
- popup is opened

### Actual Result
- alert is displayed
- popup IS NOT o

[2018-10-02 15:13] jurokapsiar commented on #295
in my case, when I commented the alert() in the example, even space started to behave in a strange way - it opened the popup and closed it immediately. please check this as well.

[2018-10-02 18:29] levithomason opened #298 "Create Teams Dark Theme Variables"
We need to create dark theme variables for all components.  We will first do this explicitly in siteVariables and each component's variables file.  Afterward, we can consider an abstraction for applying "color schemes" to components.  Let's wait on that until we can see the pattern that emerges.

Please link you PR after the item you are completing below.

### Doc Site

- [x] ComponentExample.tsx

[2018-10-02 18:30] levithomason commented on #298
/cc @codepretty, @notandrew, @sergiorv, @bcalvery, @alinais, @mnajdova

[2018-10-02 21:20] musingh1 opened #300 "The button when added as a media in a selectable list, does not inherit the styles (background/color etc.) from the list item"
## Bug Report

### Steps
![image](https://user-images.githubusercontent.com/22622723/46377608-e31e5f00-c64d-11e8-841f-e8ce1fb8dd56.png)

### Expected Result
Probably the button should inherit the background when inside a list item. (Probably I can achieve this using text property, but just wanted to confirm if that is the recommended way.)
When the item is selected, the button should be inverted i

[2018-10-02 22:18] dvdzkwsk opened #301 "`debug` package not provided as dependency (should it be?)"
## Bug Report

`debug` is [imported](https://github.com/stardust-ui/react/blob/ec3f3185eb1282d35466358ccbdeb5f0cc793c00/src/lib/debug.tsx#L1) but not listed as a dependency. This should be an easy fix, depending on what you want to do.

![screen shot 2018-10-02 at 3 19 05 pm](https://user-images.githubusercontent.com/6439050/46380280-8d9a8000-c656-11e8-9b82-22585563dd56.png)

### Steps

1. Import

[2018-10-03 11:09] #291 closed, assigned to nobody

[2018-10-03 14:15] bmdalex opened #306 "Reimplement RadioGroupItem keyboard navigation"
## Feature Request

### Problem description
In PR #287 we have introduced a fix for making keyboard navigation work properly for `RadioGroup` items that contain `Input` elements. It consists of introducing a new prop called `shouldFocus: boolean` to `RadioGroupItem`.

Fix details:
- when we navigate by keys we set `shouldFocus` to `true` for the currently checked `RadioGroupItem`;
- after the curr

[2018-10-03 14:54] jurokapsiar opened #307 "Popup: close popup when user clicks outside of the popup"
## Feature Request

There needs to be a possibility to close popup when the user clicks on the document (or focuses element outside of the popup).

### Problem description
When the user opens a popup and clicks on the document outside of the popup, the popup remains open.

### Proposed solution
Use Portal or portal-like functionality as it was before the refactoring.

[2018-10-03 15:06] bmdalex commented on #307
This used to work, @kuzhelov I know it was removed as part of Popup refactoring, can we add it back?

[2018-10-04 16:16] mnajdova opened #312 "Popup: the PopupContent inside the Popup cannot be styled or augmented with some user defined props"
## Feature Request

### Problem description
The content of the Popup cannot be styled using any props in the Popup. Moreover the user cannot provide any properties to that component at all. In order to style it, the user have to wrap it with Provider and provide the styles for the PopupContent component there in the following manner:
[code]

### Proposed solution
The PopupContent should be shortha

[2018-10-04 16:24] mnajdova opened #313 "Popup: the positioning and aligning of the Popup around the trigger are limited"
## Feature Request

### Problem description
The positioning and aligning of the Popup relative to the trigger are limited. For example, the following position is not possible to be defined with the current properties:

![image](https://user-images.githubusercontent.com/4512430/46488141-26b9ca00-c802-11e8-9471-6defaf13b0b8.png)

### Proposed solution
We have currently prop `align` which indicates w

[2018-10-04 16:52] bmdalex opened #314 "[RFC] New Input component"
# New Input component

## Problem description

The current `Input` component looks like this:

##### API
[code]

##### DOM structure:
[code]

##### Rendered component:
![screen shot 2018-10-04 at 17 08 37](https://user-images.githubusercontent.com/5442794/46483534-32a08e80-c7f8-11e8-940c-80d9799ca6fe.png)

This introduces a few issues. Since it **directly** creates an HTML `<input />` element (imp

[2018-10-04 23:53] brianespinosa commented on #314
In general I think a lot of this makes sense. This also addresses a similar issue to #201 as far as usability and semantics with, "What is a `<Label />` vs a `<label />`?"

I would possibly suggest that instead of `<InputBase />` we use `<InputWrapper />`. Unless that is diverging from other `<SomethingBase />` naming conventions already starting to be used in Stardust.

[2018-10-05 01:08] #301 closed, assigned to nobody

[2018-10-08 10:57] bmdalex commented on #314
We decided to go with **solution 1**, implemented in #326

[2018-10-08 11:14] layershifter commented on #314
`InputBase` represents the `input` element and is usable only with it in fact, may be `HtmlInput` will be better? `HtmlLabel` for `label` looks fine, too.

[2018-10-09 08:17] mnajdova opened #339 "Stardust font-based icons do not work 'create-react-app' project"
## Bug Report

### Steps
Create CRA application using typescript scripts. Add @stardust/react as a dependency. Try to use some some font icon, for example ```<Icon name='calendar' />```

### Expected Result
The icon should be rendered

### Actual Result
This is rendered:
![image](https://user-images.githubusercontent.com/4512430/46655613-68ed5d80-cbac-11e8-91d7-11f6fe29264a.png)

### Version
0.9.0

[2018-10-09 11:18] sophieH29 opened #341 "(FocusZone): with defaultTabbableElement prop set tabindexes are not updated accordingly"
## Bug Report
Setting ```defaultTabbableElement``` prop for FocusZone  will set initial value of ```_activeElement```. But it will not cause the updating of tab indexes.

### Steps
- Set in ```listBehavior``` for focusZone ```defaultTabbableElement``` for the last item in a list
- Check rendered List items

### Expected Result
```tabindex = 0``` is set to the **last** item in a List

### Actual Re

[2018-10-10 06:50] miroslavstastny opened #344 "Menu: first key press does not render focus styles"
## Bug Report

### Steps

1. Have a menu with three items,
2. click on the third item,
3. hit left arrow,
4. hit left arrow again.

### Expected Result
- Second item selected and highlighted after step 3.
- First item selected and highlighted after step 4.

### Actual Result
After the step 3, second item is correctly selected, but it is not highlighted 💣

![menu_keyboard](https://user-images.githu

[2018-10-10 08:53] gopalgoel19 opened #345 "[RFC] ContextMenu Component"
## A new ```ContextMenu``` component

### Problem description
Building a new component ContextMenu.
![getimage](https://user-images.githubusercontent.com/11490517/46723885-80087a00-cc96-11e8-87cf-49e37309c4aa.png)

### Proposed solution
As of now, I am planning to build this component using ```Menu```, ```Popup```, ```Avatar``` etc.
Check progress at #340

Requesting For Comments on:

1. What is t

[2018-10-10 09:35] sophieH29 commented on #341
Fixed in https://github.com/stardust-ui/react/pull/342

[2018-10-10 09:35] #341 closed, assigned to sophieH29

[2018-10-10 16:12] brianespinosa opened #346 "[RFC] Date picker"
## Feature Request
This is more of a placeholder for discussion around a date picker component.

### Problem description
Right now there is no styled solution for date picking inside of Stardust. Before work could start on this, because of the complexities, we should have a discussion about what we do and do not want.

- Should our picker allow us to combine time and date?
- Should our picker be h

[2018-10-11 07:48] alinais opened #349 "Themeing & redlining component variations needed for MultiWindow"
All components need to be redlined & themed. When all components are themed, we will redline those components.

Please put **your name** and **pr #** next to the task you're currently working on.

### Component tasks in priority order
- [x] Avatar @bcalvery #373 , there is a bug we need to fix #738
- [x] Button redlining @bcalvery #336
- [x] Button themeing @bcalvery #381
- [x] Chat @bcalvery #652

[2018-10-11 07:50] alinais commented on #349
fyi @levithomason , @jurokapsiar , @hughreeling , @codepretty , @notandrew

[2018-10-11 08:30] #312 closed, assigned to nobody

[2018-10-11 13:13] jurokapsiar opened #354 "Move FocusTrapZone related Popup properties to behavior"
## Feature Request

To be consistent with FocusZone, FocusTrapZone should be defined in the behavior. Move the trapFocus and focusTrapZoneProps properties from Popup to PopupBehavior.

This can be done once https://github.com/stardust-ui/react/pull/239 is merged.

[2018-10-11 13:35] kuzhelov opened #355 "Alternative to 'renderX' set of props for slots"
Let this issue serve as a discussion hub for [alternative approach](#proposed-solution) to `renderXXX` one that is currently used for Stardust components.

**TL;DR** Here is the list of main reasons for that:
- downsides of `renderXXX`
  - necessity to [bloat API surface](#api-bloat) with `renderXXX` methods for each slot of each component
  - general incorrectness of shorthand evaluation for [asy

[2018-10-15 09:26] mnajdova commented on #355
@kuzhelov thanks for the detailed RFC, pointing the issues of the current implementation and providing alternative one.
I have several points for supporting the proposed API
## 1. Avoiding the necessity to bloat the API
First, I would really appreciate if we can avoid the necessity to bloat the API with adding new property for each slot inside each component. Apart from this, the user will only ha

[2018-10-15 19:01] kohlikohl commented on #355
Thank you @kuzhelov for putting this detailed proposal together.
I like what is being proposed here and it seems to be the most intuitive solution, not bloating the API and providing flexibility.

If I understand it correctly, it it's most basic form `render()` takes whatever the shorthand would have received **plus** additional props that would be applied to <Component>, hiding `<Component {...pr

[2018-10-17 12:49] kuzhelov commented on #295
closing as this one is fixed by #304

[2018-10-17 12:49] #295 closed, assigned to nobody

[2018-10-17 12:51] kuzhelov commented on #294
this is addressed by #302

[2018-10-17 12:51] #294 closed, assigned to nobody

[2018-10-17 12:59] kuzhelov commented on #241
I would rather propose to focus on correctness aspects while being at the stage we are now, rather than trying to optimize. But even speaking of whether it is a problem for now - to me it seems that it is not, as DOM tree that is currently rendered seems to be appealing in terms of semantics each `div` element provides.

So, just to reiterate - lets consider to close it for now, and if we would ha

[2018-10-17 13:40] bmdalex commented on #241
I am on the same page when it comes to the fact that a correct approach is vital, but **I am a strong believer that the approach should be simple and optimal, especially in these early stages.**

I don't agree with closing this, but rather add some proposal to it first and see if someone comes up with something feasible in terms of how correct, optimal simple and time consuming (from dev implement

[2018-10-17 15:03] #246 closed, assigned to nobody

[2018-10-17 17:58] #276 closed, assigned to nobody

[2018-10-17 21:48] musingh1 opened #370 "Multiple Selectable lists cause scrolling issues due to auto-focus"
## Bug Report

### Steps

- Navigate to https://stardust-ui.github.io/react/components/list
- Try adding selection to the last list example
![image](https://user-images.githubusercontent.com/22622723/47118217-80b38a00-d21b-11e8-8847-49ee34b2c49a.png)
- Try scrolling the page

### Expected Result
The page should work fine if there are multiple selectable lists on it.

### Actual Result
The scrollin

[2018-10-18 17:31] miroslavstastny opened #372 "Rendering a Component outside of Provider should fail with meaningful error"
## Bug Report

### Steps
Create a new application, create a component (`<Button />`) without wrapping that by `<Provider>`.

### Expected Result
Component rendering fails with meaningful error (or warning)

### Actual Result
Component dom renders, no styles are applied 💣

### Version
0.9.1

[2018-10-18 20:35] kuzhelov commented on #372
as an alternative to `Expected result`, we might consider to add support for default theme, so that the following elements tree, without being wrapped by Provider component, will be rendered with default styles applied:

[code]

Could we, please, mention the arguments against introducing default theme here, just to reconsider them. At the same time, agree that showing warning/error message is a go

[2018-10-18 20:44] kuzhelov commented on #230
closing as all the mentioned steps are made :)

[2018-10-18 20:44] #230 closed, assigned to nobody

[2018-10-18 20:46] kuzhelov commented on #265
closing the issue as now it is already possible - Popup supports controlled mode:

[code]

[2018-10-18 20:46] #265 closed, assigned to nobody

[2018-10-19 07:28] layershifter opened #374 "Button: `type` is working incorrecly"
## Bug Report

Hi guys, I'm building now some stuff based on Stardust specifications and I found the design problem.

![image](https://user-images.githubusercontent.com/14183168/47203623-a199ed80-d389-11e8-9570-159189ccf561.png)

![image](https://user-images.githubusercontent.com/14183168/47203731-f89fc280-d389-11e8-91a1-688b1fc58d20.png)

However, the `type` prop is reserved in `button`: https://

[2018-10-19 10:18] hughreeling commented on #374
As far as I know there are several discussions indirectly about this.
There need to be more clarify about if 'default' , 'primary' and
'secondary' really all need to exist...  and if we shouldn't just use
<Button content="click" primary />

On Fri, Oct 19, 2018 at 9:28 AM Alexander Fedyashov <
notifications@github.com> wrote:

[2018-10-19 10:48] hughreeling commented on #372
What type of error is appropriate - console errors seems ok - but sometimes hard to find.  Message on screen very visible, but could be hugely annoying too...

[2018-10-19 13:32] bmdalex commented on #372
@miroslavstastny @kuzhelov @hughreeling
what about something like this?

![screen shot 2018-10-19 at 15 25 46](https://user-images.githubusercontent.com/5442794/47221071-ca36dd00-d3b3-11e8-893c-22bfcfde01d6.png)

created a PR for it, #378

**EDIT:.**
Unfortunately all tests will fail by doing it like this..

[2018-10-19 17:45] musingh1 opened #379 "Popup should support a prop to allow being exclusive"
## Feature Request

### Problem description
If I have multiple popup triggers on the screen, I want a way to restrict the user to open only one popup at a time
![image](https://user-images.githubusercontent.com/22622723/47234847-01919380-d38c-11e8-87da-2576065a92ff.png)

### Proposed solution
Whenever a Popup is opened check if there is any other existing Popup open and close it.

[2018-10-20 00:27] levithomason commented on #374
+1 to boolean prop API for this

[2018-10-20 00:31] levithomason commented on #379
We need to support something like "closeOnDocumentClick" as well.  That would also solve this issue.  It should also be the default behavior.

[2018-10-20 00:34] levithomason commented on #345
I think this component is great and we should include it.  The props I would imagine would be essentially the Menu's props initially.  This way you can pass any `items` the context menu.  As the Menu API grows to support more features, the Context Menu would also support those features.

[2018-10-22 08:41] sophieH29 commented on #379
We already have this feature request https://github.com/stardust-ui/react/issues/307
Can we then close this one to avoid duplicates?

[2018-10-22 09:39] silviuaavram commented on #186
@kuzhelov should we close this one? the PR was merged and the MenuItem has been given the `disabled` handled prop.

[2018-10-22 12:38] gopalgoel19 commented on #345
Should we have a `menu` prop in `Menu.Item` to render a sub-menu? If yes, what is the difference between a `ContextMenu` component and a `Menu` component with sub-menus?

[2018-10-22 13:36] #314 closed, assigned to nobody

[2018-10-22 13:42] bmdalex commented on #314
solved and merged in #326 details:

- created an `Input` component consisting of an `<input />` element wrapped with a `<div />`;
- used `partitionHTMLProps` to decide what `props` (`<Input {...props} />`) go to the `<input />` element or wrapping `<div />`;
- used `input` slot to target the `<input />` element  and `wrapper` slot to target wrapping `<div />` when `partitionHTMLProps` does not wor

[2018-10-22 16:50] musingh1 commented on #379
I guess we can close this one as dupe of https://github.com/stardust-ui/react/issues/307

[2018-10-22 16:50] #379 closed, assigned to nobody

[2018-10-22 20:30] levithomason opened #385 "Attachment renders broken looking progress value"
## Bug Report

### Steps
1. Open the `progress` Attachment example:
    https://stardust-ui.github.io/react/components/attachment#types-attachment-progress-example

### Expected Result
The progress bar should be a solid green bar.

### Actual Result
The progress bar also renders the actual value (33 in this case) to the DOM.

![image](https://user-images.githubusercontent.com/5067638/47317165-b8e1

[2018-10-23 03:36] miroslavstastny opened #388 "Dropdown component"
Add basic implementation for Dropdown component.

![image](https://user-images.githubusercontent.com/9615899/47333859-ce4d4e00-d684-11e8-8db6-c804ea4f0fbd.png)

## API
For now, use an API similar to SUIR ([example](https://react.semantic-ui.com/modules/dropdown/#types-multiple-search-selection)):
[code]

Based on prototype in #334:

Since we only support "search" and "multiple", make these require

[2018-10-23 17:10] bcalvery opened #394 "pxToRem() doesn't support negative values"
## Bug Report

### Steps
pass a negative value to the pxToRem function

### Expected Result
I expect a negative Rem value to be returned

### Actual Result
An error is thrown "Invalid value of: …"

### Code:
`export const pxToRem = (value: number = 0): string => {
 if (!_htmlFontSizeInPx) {
 _htmlFontSizeInPx = getComputedFontSize()
 }
 if (process.env.NODE_ENV !== 'production') {
 **if (value < 0

[2018-10-23 20:01] jmanuelh opened #395 "SVG icons have different size than font icons given the same size"
## Bug Report
SVG icons have different size than font icons given the same size

### Steps
![image](https://user-images.githubusercontent.com/1175056/47387288-bc3ed000-d6c3-11e8-94b9-7f46a59c35c1.png)

### Expected Result
All icons should render the same size given the same size

### Actual Result
Font icons render bigger than SVG icons

### Version
0.10.0

[2018-10-24 01:16] #372 closed, assigned to nobody

[2018-10-24 17:29] joheredi commented on #395
Also noticed that SVG icons render with a different color and don't have the same hover behavior as Font Icons when in Menu. For example:

![image](https://user-images.githubusercontent.com/21109913/47449523-b4406800-d777-11e8-94a8-dcfa9b2393e8.png)

[2018-10-24 19:41] aniknafs opened #399 "Supporting Keyframes/Animation"
## Feature Request

### Problem description
This is just a request for supporting keyframes on Stardust.

### Proposed solution
Keyframe animations currently not being supported in Stardust. Since Fela is used, renderKeyframe from Fela could be potentially used to process keyframes passed to any components.

[2018-10-24 23:11] levithomason commented on #399
Agreed.  We currently have patterns in the `Provider` for rendering fonts and static styles.  The same pattern needs to be applied to keyframes.  This would also include adding keyframes to the theme interface.

[2018-10-24 23:19] levithomason commented on #395
## Sizing

There is some work in progress right now, #384, to address this.  The issue is that the current SVG view boxes include padding which they should not.  Once resolved, the SVGs will appear the same size as the font icons when used side-by-side.

## Color

This is due to "Home" item being the "active" item.  Clicking through the items helps show this:

![http://g.recordit.co/bfdVsZBARJ.gif

[2018-10-24 23:19] levithomason commented on #395
@codepretty ^

[2018-10-24 23:20] levithomason commented on #388
Linking the PR: #334

[2018-10-25 00:15] levithomason commented on #370
Confirmed, this is an odd bug.

The core issue seems to be that the first item in a `selection` list is auto focused on scroll.  Having two on the page causes both to be focused and the page tries to scroll them into view... while you're already scrolling.

### Smaller Reproduction
Note the behavior of the List's [Selection Example](https://stardust-ui.github.io/react/components/list#types-selecti

[2018-10-25 00:17] levithomason commented on #355
So others know, @kuzhelov is working on implementing this.  Could you link the PR here if/once it is up?

[2018-10-25 00:18] levithomason commented on #354
@jurokapsiar #239 is merged

[2018-10-25 00:29] levithomason commented on #346
I think we should favor vanilla JS date objects.  That means date and time would be supported at the data level, at least.

From a UI perspective, I think we would support the common and necessary use cases.  This would include an input for picking a time all the way through dual calendars for start/end dates.

Again, I'd go vanilla JS as the base implementation.  Most users will want to use momen

[2018-10-25 00:38] levithomason commented on #370
OK, looks like an obvious List bug:

[code]

Anytime the list updates it's going to try to focus an item.  There are a number of issues with this bit of code that we need to fix:

1. There are no tests for this List behavior.
1. `findDOMNode` should be avoided at all costs, see the [React Docs](https://reactjs.org/docs/react-dom.html#finddomnode).  It is also deprecated in `StrictComponent`.
1. Th

[2018-10-25 00:56] levithomason commented on #289
Hi @aichi, what about the Dropdown component, #388?  It is planned to also support single selection as a Select does.  Would this fit the use case you're proposing or are you proposing to have a Select in addition to the Dropdown component?

The notable difference I see is that the Select you're proposing strictly uses the `select` element while the Dropdown uses custom markup and styling to appea

[2018-10-25 01:09] levithomason commented on #241
Work in progress here, #401.  The idea is to see if CSS Grid layouts can be used to replace most of our Layout needs.

[2018-10-25 09:44] silviuaavram commented on #388
Linking the deployed container with the People Picker prototype: https://stardustacc2.z13.web.core.windows.net/

[2018-10-25 10:55] #385 closed, assigned to nobody

[2018-10-25 13:46] jurokapsiar commented on #388
`onAddItem` and `onRemoveItem` callbacks might be handy besides `onSelect`

[2018-10-25 20:48] jurokapsiar commented on #241
(pasting the discussion we had some time ago)

I did a small prototype to find out if grids with templates will work from accessibility point of view if they wrap focusable elements.

It works correctly only if the template order is the same as the order in DOM. If you use the template to switch the order, both FocusZone as well as virtual cursors of screen readers break. You can see it in proto/c

[2018-10-25 21:05] levithomason commented on #339
The issue here is that the Teams theme currently temporarily uses Font Awesome icons borrowed from Semantic UI.  However, it does not provide the CSS font face definition for the `Icons` font family which is required to render the Font Awesome icons.

The Semantic UI CSS _does_ include the font face definition, hence when the Teams theme is being loaded in a location that also loads Semantic CSS f

[2018-10-25 21:05] #339 closed, assigned to nobody

[2018-10-26 10:52] silviuaavram opened #403 "Unable to style ListItem individual parts"
## Feature Request
Refactor the ListItem Component to make it possible to be styled individually, with individual styles for content, header, etc.

### Problem description
For the Dropdown component, I need to be able to style different parts of the ListItem when Downshift specifies a ListItem as being highlighted.

### Proposed solution
Refactor the component to support individual styling, simila

[2018-10-26 11:04] bmdalex commented on #403
related to #388 and #241
@sophieH29 also had issues related to styling `Layout` slots

@levithomason
@kuzhelov
@mnajdova
@miroslavstastny

we need to get on top of refactoring our layout components, more and more issues related to them not being stardust compliant.

[2018-10-26 14:35] kovhel opened #404 "Performance downgrade (Fela)"
## Bug Report

### Steps
Any re-render of stardust component e.g. List(List.Item)
No theme or styles are provided to list

### Expected Result
Fela theme is not re-compiled on each render

### Actual Result
Theme update tooks significant time and causes downgrade in performance
Please see screenshot of Chrome dev tools/Performance/User Timing

![image](https://user-images.githubusercontent.com/182

[2018-10-26 19:31] brianespinosa commented on #346
@levithomason thanks for chiming in. You validated what I was kind of figuring would be the direction on this. It seems like a lot of the patterns and spec are still moving around a lot. This particular component seems like it would be one to wait on until those are more clear. I figured this RFC would be good more as an early placeholder.

Let me know when you get to the point of trying to make t

[2018-10-26 20:12] brianespinosa opened #405 "[RFC] Image Slider/Carousel"
# Feature Request
Placeholder for discussion on a slider/carousel component

# Problem Description
Stardust does not yet have a carousel or slideshow type component. We should probably provide something with basic functionality for not only images, but any content.

# What To Include
This is an initial list of both UI and functional features we should consider

#### UI
- Left/Right navigation
- Do

[2018-10-29 06:16] miroslavstastny commented on #404
We should definitely look into Stardust components' performance and we plan to do so.
To your codesandbox:
- development version of react is used so don't be scared by the absolute numbers,
- comparing the relative numbers, it is obvious that Stardust is slower than ul>li. But that's expected as Stardust does a lot more compared to plain ul>li.
- The fact that the flame graph shows a lot of time s

[2018-10-29 17:46] levithomason commented on #405
Agreed.  I have a vanilla JS state manager prototype of this already that I'd like to port as well.  See https://codesandbox.io/s/jzjpxwjp4y for early prototypes of how we'd like to manage state in a vanilla JS way.

[2018-10-29 21:08] levithomason commented on #404
Thanks for the issue and keeping an eye.  There are a large number of perf optimizations available to us which will improve render times.  At the same time, Stardust will always take more time than plain HTML unless we remove runtime CSS in JS and theme merging.  Providing these features requires parsing and it is not free.  That said, I am confident that we will not have any performance issues gi

[2018-10-29 21:12] levithomason commented on #403
There is ongoing work to update the ListItem to have targetable layout areas for styling, #236.  There is also work to investigate reducing the amount of markup generated by using CSS Grid for layouts, #401.

The result of either of these PRs should resolve this issue.  Any work should pick up on one of these PRs.

[2018-10-29 21:13] levithomason commented on #403
I have also relabeled this as a `bug` since it breaks the behavior pattern of a Stardust slot.

[2018-10-29 22:12] joheredi opened #409 "Larger MenuItem icons overlap when using iconOnly prop"
## Bug Report

### Steps
Create a Menu with a few iconOnly huge/massive MenuItems

[code]

### Expected Result
Icons should not overlap. For example, if iconOnly is ***not*** used:
![image](https://user-images.githubusercontent.com/21109913/47683341-88185300-db8c-11e8-85b4-2bf4143d1b2a.png)

### Actual Result
![image](https://user-images.githubusercontent.com/21109913/47683275-57d0b480-db8c-11e8-9

[2018-10-30 16:14] kovhel commented on #404
Thank you for response!
I just would like to mention that I haven't even provide any theme to the List and event handler does not touch any prop.

[2018-10-31 12:02] alinais commented on #307
#410

[2018-10-31 17:03] levithomason commented on #388
- `onInput` should be `onSearchChange`
- `label` will be removed and a FormField would be used to add a label instead

[2018-10-31 18:36] musingh1 opened #412 "List does not propagate selection prop to ListItem when using children prop to render"
## Bug Report

### Steps
Check the children API for list selection, and remove the selection prop from <List.Item>
![image](https://user-images.githubusercontent.com/22622723/47810612-f716b880-dd00-11e8-87bb-b58e6518a5d9.png)

### Expected Result
The selection prop on list should be propagated to items

### Actual Result
The selection prop on list is not getting propagated to items

### Version
la

[2018-11-01 14:37] hughreeling commented on #394
Closely related to changes in #371.  I hope fix will be added to that.

[2018-11-01 14:58] mnajdova commented on #399
Currently the keyframes can be used even inside the styles in the following manner:

[code]

Not sure if this is sufficient, but until we provide some different API, this is how they can be used.

[2018-11-01 17:26] codepretty commented on #349
We are doing Dark theme & Contrast theme at the same time, so it is unnecessary to keep 2 separate issues for this. Merged #298 into this issue.

[2018-11-01 17:27] aniknafs commented on #399
Great.. didn't know renderKeyframe is being exported.. although it looks a bit verbose and kinda buried in the theme..

[2018-11-01 17:35] codepretty commented on #298
We are doing Dark theme & Contrast theme at the same time, so it is unnecessary to keep 2 separate issues for this. Merged this issue into #349

[2018-11-01 17:35] #298 closed, assigned to nobody

[2018-11-01 17:36] mnajdova opened #415 "Styles defined as functions in shorthand are not working"
## Bug Report

### Steps
Define some styles as a function in any shorthand of the components. For example, in the Button, define the icon shorthand with some styles in form of a function.

[code]

### Expected Result
The styles should be applied for the shorthand.

### Actual Result
They are not applied. The only way that those are applied is if the styles are defined as object 💣

### Version
0.11

[2018-11-01 18:28] mnajdova commented on #415
We can overcome this by using the Provider immiditatelly before the component for defining the styles for the shorthand:
[code]

Not sure if we should move right into fixing this, as I guess it was implemented like this with a reason.

[2018-11-02 08:33] silviuaavram opened #417 "Create and initialise default ref prop for Startdust components"
## Feature Request
Create default **ref** for Startdust components that should point to the first DOM Element in the renderComponent.

### Problem description
While developing the Dropdown component and using other Stardust components, I've used Input and List and had to manually expose refs for those components in order to use them in the Dropdown implementation (input focus, list passed to Downs

[2018-11-02 09:22] layershifter commented on #417
There is a long standing issue with similar thing in SUIR, https://github.com/Semantic-Org/Semantic-UI-React/pull/2844. There is also working prototype that uses [`forwardRef()`](https://reactjs.org/docs/forwarding-refs.html) API. It allows to solve following issues:
- when user passes an own component via `as` prop
- issues with functional components that cannot have refs

I should mention that i

[2018-11-02 11:08] silviuaavram opened #420 "Fix Lodash typing errors after enforcing @types/lodash"
## Bug Report
Fix Lodash typing errors after enforcing @types/lodash inside yarn.lock

### Steps
Add @types/lodash in yarn.lock or install a package that requires @types/lodash, such as Cypress.
`yarn build`

### Expected Result
Should build without errors.

### Actual Result
Approximately 20 errors are thrown at build from the non type-enforced use of lodash library in the code.

[2018-11-02 11:08] silviuaavram commented on #420
Blocks https://github.com/stardust-ui/react/pull/418

[2018-11-02 13:25] #374 closed, assigned to layershifter

[2018-11-02 14:00] bmdalex commented on #420
starting on this, fyi @silviuavram

[2018-11-02 14:05] alinais opened #421 "Align `Menu` and `Divider` components to use the `type` property values as boolean"
## Feature Request

### Problem description
Align `Menu` and `Divider` components to use the `type` property values as boolean.

### Proposed solution
 Check the `Button` update, where  `primary` and `secondary` become boolean props while the `type` remains as a reserved prop.

[Fork, update, and replace this pen if you can show the proposed solution]:
https://codesandbox.io/s/2l3n74j9y

[2018-11-02 14:38] layershifter commented on #421
We have already PR for `Divider`: #327

[2018-11-02 14:54] bmdalex commented on #409
taking this

[2018-11-02 17:09] alinais opened #423 "Create siteVariables palette interface with color names"
## Feature Request

### Problem description
Each component should have the ability to change its color through the `color` prop. The color value should be available as part of a predefined palette.

### Proposed solution
Create siteVariables palette interface with color names.

[Fork, update, and replace this pen if you can show the proposed solution]:
https://codesandbox.io/s/2l3n74j9y

[2018-11-02 17:57] aniknafs opened #424 "Typechecks on props not working"
## Bug Report

### Steps
[code]
### Expected Result
Typescript complains about the `wrongProp` (not existing or not matching the interface).

### Actual Result
Typescript is happy.

Status (and other components) are extending `UIComponent<Extendable<ComponentProps>>` where `Extendable` is telling Typescript to accept any props.

### Version
0.11.0

[2018-11-02 18:44] alinais opened #425 "Spread the default html prop types on each component"
## Feature Request

### Problem description
Components props are extendable and should be strongly typed.

### Proposed solution
Spread the W3C html props on each component. It should happen at the render time.

[Fork, update, and replace this pen if you can show the proposed solution]:
https://codesandbox.io/s/2l3n74j9y

[2018-11-02 18:49] alinais opened #426 "Implement color prop for each component that accepts colors"
## Implement `color` prop for each component that accepts colors

### Problem description
Some components need the color prop for better customizing. Use the color palette interface from siteVariables to achieve that.

### Proposed solution
- Implement `color` prop
- create color usage examples

for each component that accepts colors:

- [x] Divider #451
- [x] Text #597
- [x] Header #628
- [x] Seg

[2018-11-02 18:53] alinais commented on #426
depends on #423

[2018-11-02 20:30] levithomason commented on #415
The issue here is that `factories.tsx` are only merging styles objects.  They are not taking into account style functions.

### Short term (`good first issue`)
A partial fix would be to update `factories.tsx` to use `mergeComponentStyles()` opposed to `_.merge()`.  That would at least support both objects and functions.

### Long term
The factories might need to be able to render a component compl

[2018-11-05 09:55] layershifter commented on #421
Picking this.

[2018-11-05 15:20] layershifter commented on #417
Also I should note that `findDOMNode()` is deprecated in `StrictMode` and can be suddenly removed.

https://reactjs.org/docs/react-dom.html#finddomnode

---

I played around it, https://codesandbox.io/s/6n2z4o7jr Looks as correct solution, but not sure.

[2018-11-05 16:46] levithomason opened #433 "RFC: how should we structure our monorepo and packages"
We will move to a monorepo and publish packages for state, styling, and accessibility at the least.  We also have utilities such as our factories, which may be part of a "core" package.  What packages do we foresee and what modules should be included in them?

***

This list is updated per the discussion below:

- [ ] **`@stardust-ui/prop-types`**
    - use: `/lib/customPropTypes.tsx`
    - [x] Mo

[2018-11-05 17:24] sophieH29 opened #434 ""what-input" library doesn't work correctly when pressing key for first time"
## Bug Report

### Steps

1. Have a menu with three items,
2. click on the third item,
3. hit left arrow,
4. hit left arrow again.

### Expected Result
- The second item selected and highlighted after step 3.
- The first item selected and highlighted after step 4.

### Actual Result
After step 3, the second item is correctly selected, but it is not highlighted 💣

![menu_keyboard](https://user-imag

[2018-11-05 18:08] layershifter commented on #433
#### `custom-proptypes`

I think that we should move them to a separate package, will allow us to drop this package for production builds at all.

#### `auto-controlled-component`

`AutoControlledComponent` is also used in SUI, this will allow us to start code-sharing. It also self-sufficient component.

#### `event-stack`

I have already rewritten `EventStack` to TS and it's a separate package, i

[2018-11-06 09:11] layershifter commented on #423
Should we use the SUI palette there?

https://semantic-ui.com/usage/theming.html#sitewide-defaults

[code]

Should we also add a `white` color?

[2018-11-06 10:06] bmdalex commented on #434
duplicate of #344

[2018-11-06 10:19] sophieH29 commented on #344
Closed as duplicate of https://github.com/stardust-ui/react/issues/434, since it is the more library-related issue than ```Menu```component itself.

[2018-11-06 10:19] #344 closed, assigned to sophieH29

[2018-11-06 16:16] bmdalex commented on #433
#### `Slot` and `createSlotFactory`

We are using these to create component slots (`content`, `icon`, `label` are just a few examples) and we might want to export them from the monorepo since they have the behavior of a factory of (sub)components;

we might want to move these to `src/lib/` side of the object (currently the are in `src/components/Slot.tsx`)

[2018-11-06 16:30] levithomason commented on #433
It seems that we might want to separate the React packages from the vanilla/core packages as well.

Slot / createSlotFactory, agree that we should publish something like this.  I think we need to iterate that again before doing so though.  Example issue, we call it "slot" but then we use it as the root `wrapper` element in the `Input`.  Really, this is just a "generic stardust element factory".

[2018-11-06 16:56] layershifter commented on #433
Guys from Segment (https://github.com/segmentio/evergreen) have a similar primitive, they call it `Box`: https://github.com/segmentio/ui-box

[2018-11-06 16:56] brianespinosa commented on #433
It might also make sense to have `UIComponent` as a package (and an available export from Stardust). That way people can use it to extend and create their own components if there is something not available in Stardust. Unless @levithomason you have other thoughts about how people should be leveraging the Stardust provider for styling other components in concert with those coming from Stardust.

[2018-11-06 16:58] alinais commented on #399
#414

[2018-11-06 16:58] layershifter commented on #433
#### `keyboard-key`
https://www.npmjs.com/package/keyboard-key

What about this package? May be we should rewrite it to TS and adopt it, too?

[2018-11-06 17:26] levithomason commented on #423
# 🌟 Criteria

We should define our criteria for a good color palette so we know what we're aiming for.  An artists palette is quite different from the [Material Color System](https://material.io/design/color/the-color-system.html#color-usage-palettes), for example.  This is because their goals are completely different.

We might have some goals like this for starters:

- **Engineering Friendly** -

[2018-11-06 22:23] powerchelle opened #440 "react version inconsistency"
## Bug Report

### Steps
Static code analysis. Looking at package.json to see dependencies.

### Expected Result
Version of react and react-dom in devDependencies should be compatible with peerDependencies.

### Actual Result
The devDependencies use react 16, but peerDependencies are >=0.14.0 <= 16. If someone is using react 15 this probably will not work. Recommend using peerDependencies that req

[2018-11-07 11:14] layershifter commented on #423
# Common UI frameworks

## Bootstrap, [colors](https://getbootstrap.com/docs/4.1/getting-started/theming/#color)

- Includes `primary` and `secondary` as theme colors
- Has 10 basic colors and 8 theme colors (aliases to main colors)
- Uses natural language colors and aliases for states

<details>
  <summary>Palette</summary>

| Color | Value |
| :-: | :-: |
| `Blue`   | `#007bff` |
| `Cyan`   | `#

[2018-11-07 11:48] layershifter commented on #423
# Corporate UI frameworks

## Atlassian design, [colors](https://atlassian.design/server/foundations/colors/)

- Includes `primary` and `secondary` as theme colors
- Provides numeral variants of each color (`50`, `100`, `200`)
- Uses 6 natural and 3 state language colors
- Has 10 basic colors

<details>
  <summary>Palette</summary>

| Color | Value |
| :-: | :-: |
| `Blue` | `#0747A6` |
| `Green`

[2018-11-07 13:19] layershifter commented on #423
I've analyzed a little ton of stuff, let's summarize it. I will take numbers from
community frameworks because the most of corporate frameworks doesn't work with natural color names.

### Natural vs state
| Type| Points | Frameworks |
| - | - | - |
| State | 3 | Bulma, Foundation, Turret CSS |
| Natural | 3 | Bootstrap, Semantic UI, Tailwind CSS |
| --- | --- |
| Aliases for state | 2 | Bootstrap,

[2018-11-07 13:59] layershifter commented on #423
## Summary

1. We should have the predefined palette of colors.
2. The palette should be easily extendable.

## Proposed palette

I've picked colors from summary table that have >= 2 points.

| Name | Color |
| -- | -- |
| Black | `#252423` (taken from Teams theme) |
| Blue	| ? |
| Green	| `#92C353` (taken from Teams theme) |
| Grey	| ? |
| Orange	| `#CC4A31` (taken from Teams theme) |
| Pink	| ?

[2018-11-07 16:01] layershifter commented on #417
What we actually know?

- Functional components doesn't support refs, it will cause warning
- Class components support refs, but doesn't forward them to the element
- All components that use `forwardRef` API are our friends

The PR https://github.com/Semantic-Org/Semantic-UI-React/pull/2844 had a little problem, internal components will be able to forward refs with a composition and no any need to

[2018-11-08 07:20] GGAlanSmithee opened #447 "Current scope information out of date?"
Currently, in the `README.md`, under the [scope](https://github.com/stardust-ui/react#scope) section, it says

This seems to not be the case any longer, given the tag-line `A themable React component library` and also the documentation in general, which encompass a lot of UI components.

Is the readme out of date, or have I missunderstood the wording? Is it a goal for `stardust-ui-react` to be a r

[2018-11-08 10:27] silviuaavram opened #448 "[Duplicate] Allow data imports into Docsite Examples"
## Feature Request
Allow data imports into Docsite Examples, such as items for a List, in order not to import them every time in each example file.

[2018-11-08 10:27] silviuaavram opened #449 "Allow data imports into Docsite Examples"
## Feature Request
Allow data imports into Docsite Examples, such as items for a List, in order not to import them every time in each example file.

[2018-11-08 12:06] layershifter commented on #423
I've tried to dogfood some ideas in #451. You can pull the branch and try it:

<details>
  <summary>Preview</summary>

![image](https://user-images.githubusercontent.com/14183168/48197620-f7493080-e35e-11e8-8d2b-b88ccb39167d.png)

</details>

## Base/Core/`YOUR_NAME` colors

White and black colors can't have a palette, what will be darker than `#000000`? Or lighter than `#ffffff`? It will be confu

[2018-11-08 14:11] layershifter commented on #448
Duplicate of #449?

[2018-11-08 14:13] layershifter commented on #449
Are you mean something like there?

[code]

https://react.semantic-ui.com/modules/dropdown/#types-selection

[2018-11-08 14:56] layershifter commented on #417
I also should note that `forwardRef()` simply returns an object:

[code]

https://github.com/facebook/react/blob/v16.5.2/packages/react/src/forwardRef.js#L42

[2018-11-08 15:04] bmdalex commented on #449
# Proposal:

Create a `mocks` folder under `docs/` that takes a dependency on `faker` npm module. `faker` has a nice API for providing all sorts of mock data types. See:
- repo: https://github.com/marak/Faker.js/
- usage: `docs/src/prototypes/chatPane/services/dataMock.ts`) in our repo.

### API:

Create a simple API for returning mock data; API proposal:

[code]

### Usage:

These are examples fr

[2018-11-08 15:13] layershifter commented on #449
If we will implement something line this, there should be a way to show generated data as json. However, I'm not sure that it's the best option at all.

For me as newbie user will be unbelievable hard to understand what is going in example 3 or example 4.

[2018-11-08 15:29] bmdalex commented on #449
yea, it's just something that I was thinking about a while ago and wanted to express it here as well; it's definitely not readable and simple enough in current form, the main idea is to find a way to send to our mock function **what we'd like the mock data to look like**.

The tricky thing here is to provide complete flexibility in shaping the mocked data object to the following type:
[code]

[2018-11-08 15:34] #440 closed, assigned to layershifter

[2018-11-08 16:18] 96andrei opened #454 "Text component size-variable match"
In version 0.11.0 the Text component supports:
- 7 sizes from "smaller" to "largest".
- 5 variables for overriding text sizes from "fontSizeExtraSmall" to "fontSizeExtraLarge".
- 5 variables for overriding line height from "fontLineHeightExtraSmall" to "fontLineHeightExtraLarge".

The problems with this:
- there are missing variables for some sizes.
- naming doesn't match - should "fontSizeExtraLa

[2018-11-09 21:45] joheredi opened #461 "[RFC] Toolbar Component"
## Feature Request

## Overview
The toolbar is a component which houses different tools/buttons. The toolbar can have multiple groups to help organize buttons.

### Requirements

- Button Groups
- Button Overflow Flyout
- Sub Menus
- Custom Picker/Popup

**Mock: Toolbar with submenu**
![image](https://user-images.githubusercontent.com/21109913/48284997-1060e880-e416-11e8-97f0-3f3ebd6850c3.png)

**

[2018-11-09 23:03] WrathOfZombies commented on #461
Looking at the patterns in Stardust, I think it would make more sense to have something like this:

[code]

[2018-11-09 23:06] WrathOfZombies commented on #461
We may also want to add support for alignment. I think a good example can be something like [Fabric's commandbar](https://developer.microsoft.com/en-us/fabric-js/components/commandbar/commandbar) or an extension to [Semantic UI React - Menu component](https://semantic-ui.com/collections/menu.html)

[2018-11-09 23:21] stuartlong commented on #461
The Picker / subMenu parts seem a little feature specific. Does the toolbar need to care if a given button is rendering a Picker or not?

[2018-11-09 23:39] joheredi commented on #461
@WrathOfZombies it seems that ShorthandApi is generally preferred over ChildrenApi. Here are a few advantages of Shorthand over ChildrenApi https://stardust-ui.github.io/react/shorthand-props also in #79  @levithomason put together a nice analysis on supporting ChildrenApi

I like the idea of supporting alignment. I'll consider that!

[2018-11-11 00:41] hnager commented on #461
@stuartlong from an accessibility standpoint it may be important to identify that a given button will render a popup when pressed. The submenu parts may not need to be here, but there should be a way to assign accessibility traits/roles to specific buttons in the toolbar.

[2018-11-12 09:19] kolaps33 opened #463 "[Selection list] Time is hidden, when item is hovered or focused"
##[Selection list] Time is hidden, when item is hovered or focused

### Steps
1. Hover the list item
2. Navigate to the list item by keyboard

### Expected Result
Item is highlighted and text is visible.

### Actual Result
1. Item is highlighted but time text get hidden.
It looks like it was introduce by:
https://github.com/stardust-ui/react/pull/278
I think it would be proper behavior if endMedia

[2018-11-12 09:23] kolaps33 opened #464 "[Selection list] Aria-selected is not changing the state, is always false"
## Bug Report

### Steps
Testing with reader require to open it in Edge/Narrator.
1. Navigate to the selection list item
2. press down arrow key to move to another list item
3. press down arrow key to move to another list item
4. observe aria-selected attribute or listen Narrator.

### Expected Result
aria-selected should change state with selected item

### Actual Result
aria-selected doesn't cha

[2018-11-13 08:29] miroslavstastny opened #467 "ItemLayout inline styles not merged with theme styles"
## Bug Report

### Steps
[code]

### Expected Result
First item has a blue underline, second item has a red underline.
It can never happen that two CSS-in-JS atomic classes are applied on a single element.

### Actual Result
Two CSS classes for borderBottom are applied to the list item.
Visual results are nondeterministic as it depends on the order in which they are applied. On a fresh load both i

[2018-11-13 10:29] miroslavstastny commented on #467
This is actually a more general problem with how we apply CSS-in-JS classes to elements.
**The basic rule is that we cannot apply two different `renderRule` results to a single object.**
If a component in its `renderComponent` function takes `classes` from the config and passes it to another stardust component, styles are broken with non-deterministic results.

That's what we do in `ItemLayout` (a

[2018-11-13 11:51] silviuaavram opened #468 "Create Accessibility Behaviour for Dropdown component."
## Feature Request
Original plan is to finish the Dropdown Component PR with the aria attributes directly added, as the PR is large enough for review. https://github.com/stardust-ui/react/pull/422

After that PR will be merged, will create another PR that will remove aria from component and add it to behaviour. Will close this issue once that PR will be merged

[2018-11-13 17:04] layershifter commented on #417
### Q1: Should we add automatically refs?

This means that a component will receive a `ref` prop:

[code]

I should note that React's tree will be changed:

[code]

### Q2: Should we add automatic refs to all our components?

This means that some our components will be an edge case:

[code]

As proposed solution:

[code]

[2018-11-14 11:29] #415 closed, assigned to nobody

[2018-11-14 11:44] sophieH29 commented on #461
@joheredi Toolbar component it's a nice idea, but I don't feel like it should be a part of Stardust components.
Have you had a chance to look at Menu example in docs, called "Menu as a Toolbar"? By setting ```toolbarBehavior``` for a ```Menu``` component, it sets correct ```aria-*``` attribute, and the items of the Menu can be whenever you want, either popup or drop-down.
[code]
Recently, I protot

[2018-11-14 12:58] bmdalex opened #475 "`createComponent` Follow-up"
## `createComponent` follow-up

### Steps
`createComponent` factory method was introduced by #472
We need to start porting our components to be created using this approach and iterate on `createComponent`.

This will track items we need to follow-up on. **TODO**:

- [x] merge feat(slot): slot factory proposal #376
- [x] merge feat(utils): replace react-docgen with typescript #460
- [ ] porting exi

[2018-11-14 13:22] kolaps33 opened #476 "Create unit tests for chat behaviors"
## Bug Report

There are files:
chatBehavior.ts,
chatMessageBehavior.ts
which have no unit tests.

Would be good add unit tests to existing structure or add as separate files.

[2018-11-14 20:08] vadimvar opened #477 "Layout's start and main areas are misaligned when End area has an icon"
## Bug Report
![image](https://user-images.githubusercontent.com/45048721/48509422-f05e6a00-e805-11e8-802a-ca541f5dda1a.png)

### Steps
A clear and concise description of steps to reproduce the problem.

### Expected Result
The result that you expected.

### Actual Result
The actual result that happened 💣

### Version
x.y.z

### Testcase
[Fork, update, and replace this pen to show the bug]:
https:

[2018-11-15 13:12] silviuaavram commented on #388
Linking PR https://github.com/stardust-ui/react/pull/422

Will also update API in the issue description.

[2018-11-15 14:17] #420 closed, assigned to bmdalex

[2018-11-15 14:20] bmdalex commented on #420
fyi @silviuavram you should be unblocked for #418 now

[2018-11-16 17:12] miroslavstastny commented on #191
Fixed by #323

[2018-11-16 17:12] #191 closed, assigned to miroslavstastny

[2018-11-16 17:13] #399 closed, assigned to mnajdova

[2018-11-16 17:18] levithomason commented on #101
Solved, we'll use the `iconOnly` pattern for now.  We're open to changes once we get the specifications process going.  We want data driven answers to these, not a pot of opinions.

[2018-11-16 17:18] #101 closed, assigned to nobody

[2018-11-16 17:33] #194 closed, assigned to nobody

[2018-11-16 17:36] levithomason commented on #197
Fixed in #353

[2018-11-16 17:36] #197 closed, assigned to nobody

[2018-11-19 10:24] layershifter commented on #423
The final decisions that will go to RFC.

----

# Naming

#### 1. `PrimitiveColors`

Includes only `white` and `black` that are will be represented by the `string` type.

#### 2. `NaturalColors`

Will include 9 colors (`blue`, `green`, `grey`, `orange`, `pink`, `purple`, `teal`, `red`, `yellow`) as we decided before, each color should implement the `ColorVariants` type.

#### 3. `ContextualColors`

[2018-11-19 10:30] jurokapsiar opened #488 "GridPicker component"
## Feature Request

### Problem description
While prototyping two pickers in #480 we found out that:
- there are commonalities between two grid pickers
- we require consumers to apply accessibility knowledge that can be encapsulated in the component.

### Proposed solution
Based on the PR mentioned above, create `GridPicker` and `GridPickerItem` components that will allow user to create a grid ite

[2018-11-19 10:59] mnajdova commented on #425
I took a look into this, and I am not sure what we want to achieve with it. Adding DOM node props to the propTypes will flood the intellisense with attributes that may never be used. We want to advertise the properties specific for the component being used, all DOM elements will still be passed to the root of the component. If there are some properties missing in any of the component, we can take

[2018-11-19 11:59] layershifter commented on #425
_My opinion:_ we should not expose all HTML props and I fully agree with the idea from https://github.com/Semantic-Org/Semantic-UI-React/issues/1072#issuecomment-268848820

[2018-11-19 12:04] layershifter commented on #417
_This comment describes our solutions to this issue._

----

# Automatic refs

All our components will implement automatic refs that will point to matching DOM elements.

[code]

### Background

Yes, it violates React's behaviour when you will have an instance of a component in `ref`, but we considered that in 99% cases you need an DOM element and a component's instance is useless for you.

When y

[2018-11-19 12:16] mnajdova commented on #425
@layershifter thanks for the feedback! I'll wait for a comment from few other contributors as well before closing this one. I am sure there is some reason for this request, so maybe we can at least make some clarifications at least.

[2018-11-19 16:51] bmdalex opened #494 "Rewrite our components using `createComponent` utility"
## Rewrite our components using `createComponent` utility

### Problem description

We added the `createComponent` factory that is going to be used for:
- wrap 3rd party components in order to achieve Stardust capabilities (especially styling)
- creating custom Stardust components;
- rewriting existing Stardust components.

**The goal is to rewrite at lest 4-5 components using `createComponent` ut

[2018-11-19 16:53] bmdalex commented on #494
fyi
@kuzhelov
@layershifter
@levithomason
@miroslavstastny
@mnajdova

 and
@alinais
@priyankar205
for assigning priority

[2018-11-19 17:18] layershifter opened #495 "Docs: use TypeScript and plain JS in examples"
### Input

- we want to write examples in TypeScript to get working all TS features and checks
- we want to show examples to user in JS and TS

### Solution

Semantic UI React has [a plugin](https://github.com/Semantic-Org/Semantic-UI-React/blob/master/gulp/plugins/gulp-example-source.js) that simply writes sources to a JSON file.

I have an idea about similar solution, but more advanced. We can u

[2018-11-20 00:04] filipmares opened #497 "Uncaught TypeError: cx is not a function in FelaTheme"
Hi,

I'm trying to setup the _Quick Start_ sample code and getting the runtime error below in the console. It looks to be related to the _classnames_ import.

I've uploaded my source [here](https://github.com/filipmares/stardust-sample) in case i'm doing something totally wrong.

Any help getting up and running is greatly appreciated. Thanks!

[code]

[2018-11-20 10:15] bmdalex opened #498 "Expose a wrapper for `createComponent`"
## Expose a wrapper for `createComponent`

### Problem description
We need to enable users of the library to leverage Stardust capabilities, styling especially, in their own components or 3rd party components.

### Proposed solution
- create a thing wrapper function with the same name on top of `createComponent`;
- export it in index file;
- create relevant doc site example / prototype; thoughts?

[2018-11-20 11:05] kolaps33 opened #500 "Create unit tests for behaviors: dialogBehavior, popupFocusTrapBehavior, popupBehavior"
## Add missing unit tests

Following lines written below are not covered by unit tests.
I moved the lines under the @description tag for now.
Tests should be written and then affected lines should be moved under the @specification tag.

Affected files: dialogBehavior.ts,popupFocusTrapBehavior.ts, popupBehavior.ts
Affected LINE: Adds role='button' to 'trigger' component's part, if it is not focusab

[2018-11-20 12:24] jurokapsiar commented on #461
We had several discussions around this. It looks like Menu component provides most of the functionality already. Things that are missing from menu right now are:
- divider (@miroslavstastny can you post a link to the RFC?)
- submenu (see PRs #357 and #216 which have been closed without completion)

Submenu would allow creating the overflow menu.

If the Paragraph button in the mock above would be

[2018-11-20 12:26] kolaps33 opened #501 "Improvement for behaviors unit tests generation"
## Improvement

### Problem description
The improvement coming from review
https://github.com/stardust-ui/react/pull/455/files
![image](https://user-images.githubusercontent.com/22620150/48773480-c73b4f00-ecc7-11e8-9fd5-ad8ed28e9ea5.png)

### Proposed solution
There will be a processing engine that for the following comment will do:

/*
*Some description
*
*@specification
*specification text
*/

=

[2018-11-20 13:48] silviuaavram commented on #388
The API has been changed _slightly_ and you can view it in the Docs for the component

[2018-11-20 14:29] mnajdova opened #502 "Supporting generating info files for components using the renderComponent function"
## Feature Request
Supporting doc generation for the components created with the createComponent function.

### Problem description
For now, react-docgen-typescript works only with class components. We need to support generating docs for the components created using the renderComponent function.

### Proposed solution
Take a look into the react-docgen-typescript library for adding a custom resolve

[2018-11-20 16:03] bmdalex opened #504 "Replace contentShorthand with itemShorthand"
## Replace `contentShorthand` with `itemShorthand`

### Steps
We have a bug in our components `propTypes` for the `content` slot. Most of our components use the `Slot` component to generate their `content` slot, meaning that the `propTypes` for `content` prop should be:

### Expected Result

[code]

### Actual Result

[code]

### Solution
- go to all components and verify their `propTypes` for the

[2018-11-20 16:35] miroslavstastny commented on #497
The problem is the different result between webpack and parceljs in handling following import:
[code]
In webpack `cx` ends up being a function, in parceljs it is an object with `default` property being that function:
![image](https://user-images.githubusercontent.com/9615899/48788248-b6500500-ecea-11e8-8bb1-2cd47eb492ed.png)

Not sure if it is a problem in (a) the import statement, (b) classnames

[2018-11-20 18:34] filipmares commented on #497
@miroslavstastny You're right! Switch to webpack and it seems to resolve. I will update the repo. Thanks!

[2018-11-20 18:34] #497 closed, assigned to nobody

[2018-11-20 21:00] miroslavstastny commented on #425
I am against spreading html props to components' props - that would make intellisense unusable.

[2018-11-21 01:28] vadimvar opened #506 "Icon does not respect 'error' property, but Text does"
## Bug Report

### Steps
              <Icon
                name="exclamation"
                size="small"
                circular
                error
                styles={{ paddingTop: "0.6rem" }}
              />
              <Text error content={composeErrorMessage(error)} />

### Expected Result
Expect both icon and text to be red

### Actual Result
The actual result that happened 💣
!

[2018-11-21 09:41] layershifter opened #507 "Docs: improve build time of component menu"
_I've have already made caching for our `build:docs:docgen` task #485, we get a cool boost there._

However, our `build:docs:component-menu` is still slow :( I take a look on it and found ot the main problem. It uses that the uncached calls of `getComponentInfo()` which is quite slow.

My proposal is simple.

### 1. Update task pipeline

[code]

This will grant us that `build:docs:component-menu`

[2018-11-21 10:02] layershifter opened #508 "RFC: switch to Babel"
_Previously we've decided to switch to Babel as compiler to improve our developer experience and get benefits from Babel's ecosystem like plugins. I've separated our switch to small steps that will allow us to make this process clearly._

## 1. Switch docs

I think that our main issue now is very slow work of `yarn start` i.e. start docs and we should solve this problem firstly.

### Actions

- [x

[2018-11-21 18:07] #498 closed, assigned to nobody

[2018-11-22 06:26] priyankar205 opened #511 "Accessibility: Add keybord arrow key support for Tree component"
The Tree component works with tab. We should add keyboard arrow key navigation to make it more accessible.
eg. https://www.w3.org/TR/wai-aria-practices-1.1/examples/treeview/treeview-1/treeview-1a.html

[2018-11-22 07:47] jurokapsiar commented on #511
as suggested in #479, the default `href` value on the `TreeTitle` should be removed and replaced by `Enter` and `Space` key handlers.

[2018-11-22 07:55] miroslavstastny opened #512 "RFC: Shorthand polymorphism using `kind` property"
## Feature Request

### Problem description
Shorthand is a powerful way how you can define component slots:
[code]
In the example above, both `icon` and `content` are shorthands. It allows you to define as few properties as possible while still giving you full control over the slot props. And in all cases shorthand still manages state, styling and accessibility for you.

Shorthand becomes extremel

[2018-11-22 08:18] layershifter commented on #512
I was on this meeting, so you got my vote for this. Let's do it 👍

[2018-11-22 10:00] layershifter commented on #461
I will agree there with @sophieH29 and @jurokapsiar, we need this component for Teams, but it's a very specific thing and doesn't fit Stardust. I'm fully agree that it can be built with the `Menu` component and we just need to add missing functionality there.

[2018-11-22 10:30] jurokapsiar opened #513 "Keyboard navigation in RTL mode"
## Feature Request

### Problem description
When in RTL mode, Left arrow should move focus to the next horizontal item and Right arrow to the previous.

This applies to the FocusZone as well as to keyboard action handler mapping.

### Proposed solution
Detect RTL mode from the context and if set, set appropriate flag in the FocusZone as well as flip left/right arrow key keyboard handlers.

[2018-11-22 13:17] mnajdova opened #516 "Keyframes are not behaving as expect when RTL is switched"
## Bug Report
Switching RTL is not working as expected when some keyframes are used as part of an animation.

### Steps
When some keyframes are defined as part of the animation, the RTL should be apply to them accordingly when it is switched. If we switch the RTL the keyframes are switched, but going back to LTR is not changing them back to the initial implementation

### Expected Result
Switching

[2018-11-22 15:19] jurokapsiar commented on #461
To recap submenu requirements:
Submenu is already available in #126 and #357, the latter looks more advanced. It needs some consolidation, finishing and adding keyboard handlers.

Once submenu functionality gets added to the Menu component, we can use that for both the Formatting 'dropdown' as well as for the overflow.

The overflow is at that point out of scope of Stardust and the consumer can im

[2018-11-22 15:58] #354 closed, assigned to nobody

[2018-11-22 16:38] silviuaavram commented on #388
defaultSearchQuery: PropTypes.string, OK
    defaultValue: PropTypes.oneOfType([PropTypes.object, PropTypes.array]), OK
    fluid: PropTypes.bool, OK
    getA11yStatusMessage: PropTypes.func, To Object getA11yStatusMessage
    getA11ySelectedMessage: PropTypes.func, -=-
    getA11yRemovedMessage: PropTypes.func, -=-
    getA11yRemoveItemMessage: PropTypes.func, -=-
    items: PropTypes.arrayOf(Pro

[2018-11-23 01:09] kuzhelov commented on #355
@kohlikohl, sorry for the late response on that.

Let me, please, address two main concerns/questions you've raised:

As long as additional props can still be passed down to <Component> that should be fine.

yes, exactly - as you've mentioned, in the basic case `render({ .. shrothand .. })` will be evaluated to proper element plus + client props (provided in 'shorthand' object) + evaluated props (

[2018-11-23 09:45] mnajdova commented on #425
Based on the input of the other folks, closing this issue, as we are not going to implement it.

[2018-11-23 09:45] #425 closed, assigned to mnajdova

[2018-11-23 10:07] kuzhelov opened #520 "bug(Teams theme): Button should apply truncate styles to any content"
## Bug Report

It is necessary to ensure that `Button`'s content other than string will be truncated for `Button`. Main case that drives this necessity is properly displaying `Button`'s text in RTL mode, which requires `Button`'s content to be wrapped in <span dir="auto">.

### Steps
Use the following code to repro the problem:

[code]

### Expected Result
Content that is wrapped in, say, <span />

[2018-11-23 12:14] mnajdova commented on #512
I really like this idea, total support on it.  However, I have couple of question, just my curiosity I guess :)

- Are we going to allow the user to pass to the kind property custom component? If not, are we going to allow them to use the kind property with some restrictive values (I saw that you mention that the ButtonGroup for example can contain just few available options, but just to be sure t

[2018-11-23 12:29] mnajdova opened #522 "The content property is not consistently implemented in all Stadust components"
## Bug Report

### Steps
The content property is not consistent across all Stardust components. This can lead to confusion or incorrect usage of the Components when the content slot is in question.

### Expected Result
I would expect that the content property should be used consistently in all Stardust components. As far as I remember, we decided to make the content property shorthand for the Slot

[2018-11-23 13:25] #307 closed, assigned to nobody

[2018-11-23 14:03] bmdalex commented on #522
fixes #504 correct me if I'm wrong @mnajdova

[2018-11-23 14:18] mnajdova commented on #522
Exactly, it should solve that issue as well.

[2018-11-26 11:22] mnajdova commented on #522
Couple of additional thoughts. As this proposal would add additional dom element in the component, we must be sure that we are okay with it for all components. It seems kind a strange for the component that contains just the content in their structure. For example, let's take the Text component. Previously the rendered html was the following:
[code]
After the changes, we have additional span rende

[2018-11-26 11:35] bmdalex commented on #522
I think for some components (like `Text`, `Label`, `Segment`) it makes sense to have the `content` slot as a primitive type (mostly strings).

That's because it's pretty obvious (or should be) for the user that the `content` of a `Text`, `Label` (maybe less for `Segment` but it's not hard to grasp) should be just some text to be rendered in the main area.

[2018-11-26 11:43] mnajdova commented on #522
Apart from the issue with the component containing only the content property, here is an overview for all other components regarding the content property:
## Components not containing the content property:
-	Accordion
-	Attachment
-	Avatar
-	Chat
-	Form
-	FormField
-	Icon
-	Image
-	Layout
-	List
-	Menu
-	PortalInner
-	Provider
-	ProviderConsumer
-	RadioGroup
-	RadioGroupItem
-	Ref
-	Status
## Comp

[2018-11-26 12:06] miroslavstastny commented on #522
`MenuItem` currently renders as following:
[code]

If we refactor `content` to be a shorthand, it will be wrapper by `span`, resulting in every item being `li > a > span`.
Is that what we want? Or do we want, in `MenuItem.tsx`, to check `typeof content` and leave it untouched if it is a `string` and create a `Slot` otherwise?

[2018-11-26 12:25] mnajdova commented on #522
I would say the MenuItem is not the only component that needs this, as @Bugaa92 has mention there are other components that want the content to be just a string. But still, we should be very careful with this, because if the content is string, then **we are not providing any way for it to be targeted and styled by the user**, moreover we are not allowing the **async rendering of the content** (cur

[2018-11-26 13:12] bmdalex commented on #522
For the Layout related issues:
I feel we should remove `Layout` and `ItemLayout` from our codebase altogether :)
Refactoring `Chat.Message` to not use them was not that difficult and we should think if these components provide more benefits than cons; related to #241  and #477

[2018-11-26 14:40] bmdalex opened #525 "[RFC]: Remove `Layout` and `ItemLayout` components and references"
## [RFC]: Remove `Layout` and `ItemLayout` components and references

### Problem description
We have quite a few issues with the `Layout` and `ItemLayout` components, so I'm opening the following question:

#### Do we still need `Layout` and `ItemLayout`?

The cons seem to trump the pros;

#### Pros:
- out of the box solution for styling parts of components when it comes to positioning items usin

[2018-11-26 14:45] bmdalex commented on #241
We have successfully removed the `Layout` usage from `Chat.Message` implementation in #518 with pretty small costs and lots of benefits and will carry on for rest of components. That work is being tracked here: #525

[2018-11-26 18:06] levithomason commented on #522
Yes, this is a tough issue.  Here is more conversation and design on the same topic:

**Standardize content prop**: https://github.com/Semantic-Org/Semantic-UI-React/issues/1364

**Standardize shorthand prop names for primary content**: https://github.com/Semantic-Org/Semantic-UI-React/issues/391

The conclusion in those issues was to leave the inconsistency we have in favor of more correct markup

[2018-11-26 18:15] levithomason commented on #522
Here's another summary and comparison of the content prop:

**REMOVE?**        content is only aliasing children
**NECESSARY?** content is node composed into children
**NECESSARY?** content is a component (rename to body?)

_Shorthand usages:_
Menu Item === { icon: '', content: '' }
Button === { icon: '', content: '' }
Divider === { children: '' }
Slot === { children: '' }
Popup === { body: {} }
M

[2018-11-26 20:16] vadimvar opened #526 "Function to resolve static styles gets incomplete site variables"
## Bug Report

### Steps
          <UIProvider
            theme={{
              staticStyles: [
                     resolveThemedStyles,
                     …...
              ]
            }}

function resolveThemedStyles(siteVariables) {
    // Site variables only contains font...
    // Where are all theme variables?
}

### Expected Result
Expect the siteVariable parameter to have correct s

[2018-11-27 22:05] vadimvar opened #532 "Compile error on styles for correct CSS properties"
## Bug Report

### Steps
[code]
### Expected Result
Expect styles are compiled
Have to use a workaround which looks weird but works fine
[code]

### Actual Result
[code]
### Version
x.y.z

### Testcase
[Fork, update, and replace this pen to show the bug]:
https://codesandbox.io/s/2l3n74j9y

[2018-11-27 22:06] vadimvar commented on #532
`<Segment styles={styles.shareFromSent_root}` doesn't work

[2018-11-27 23:50] levithomason commented on #433
I was just talking this through with @davezuko as well.  We're thinking we need to be careful to not over burden ourselves with package granularity. At the same time, we should consider how to divide packages on the most intuitive axis, like React vs core (vanilla) packages.

Here's what we're proposing:
- Organize the `src` directory first, before packaging anything
- Publish first a React packag

[2018-11-28 10:09] mnajdova opened #533 "Wrappers for Form Validation around the Stardust's form related components"
## Feature Request

### Problem description
We need to provide to the user easy to use API for validating the forms created by Stardust components.

### Proposed solution
I've taken look into several libraries for form validation and it seems that formsy-react will be the one we are going to use (open for other alternatives if someone has). We should create wrappers around our components, similar

[2018-11-28 10:11] lolero opened #534 "Support for icon third party libraries like Font Awesome Pro"
## Feature Request
Support for icon class name support of third party libraries like Font Awesome Pro

### Problem description
How can I use the Font Awesome Pro icon classes in the Stardust environment and get the icons to render correctly as if I were using the Stardust icon names?

### Proposed solution
A way to feed the themes a path to the style files (LESS, SASS, CSS) and webfont files of Fo

[2018-11-28 15:17] layershifter opened #535 "Docs: improve HTML preview in editor"
## Feature Request

Using an editor to display HTML is heavy.

## TODO

1. Investigate: https://github.com/ajaxorg/ace/blob/master/demo/static-highlighter/server.js

## Refactor
1. Just use a `div` with HTML
2. Print with `prettier`
3. Highlight it

---

Extracted from @levithomason comment in #473.

[2018-11-28 16:24] bmdalex opened #536 "[RFC] Control Message proposals"
# [RFC] Control Message proposals

## Problem description
We have customers that expressed the need to have a UI component that will be used to post messages and updates about specific user actions in the context of a chat based application. Let's refer to these as **control messages**.

Here are some scenarios:

[code]

These type of messages would appear alongside regular messages in a chat.

We

[2018-11-28 16:53] brianespinosa commented on #433
I think the process you have outlined is a good way to go.

Yes to this ⏫

Definitely do this first. I found in our application architecture at Espressive that the work getting everything moved to packages and updating dependencies there was a significant amount of work. And in the process we discovered some things made sense to bundle into packages together. We also discovered having TOO many pac

[2018-11-28 18:31] bmdalex opened #537 "Chat.Item and Chat.Mesasge refactor"
## Chat.Item and Chat.Mesasge refactor

### Problem description
We need to refactor our `Chat` subcomponents, `Chat.Item` and `Chat.Message` for the following reasons:
- need better structuring and more flexibility;
- need to solve specific clients needs when it comes to layout of components and providing very specific content to specific areas;
- `Chat.Message` is too specific (the `avatar` shoul

[2018-11-29 07:32] prakashchetan001 opened #538 "Error in console while while clicking button"
## Bug Report
Getting Error in console on Button Click
Uncaught TypeError: Cannot read property 'ask' of undefined     at Function../node_modules/@stardust-ui/react/dist/commonjs/lib/isFromKeyboard.js.IsFromKeyboard.state (isFromKeyboard.js:14)     at Button._this.handleFocus (Button.js:70)     at HTMLUnknownElement.callCallback (react-dom.development.js:100)     at Object.invokeGuardedCallbackDev

[2018-11-29 09:55] miroslavstastny commented on #538
Minimal example: https://codesandbox.io/s/64oo21jjp3

Source code in isFromKeyboard.ts:
[code]

Compiled code in commonjs/lib/isFromKeyboard.js:
[code]

There is what_input_1.**default**.ask, But there is no `default` on `what_input_1`:
![image](https://user-images.githubusercontent.com/9615899/49213718-30584c00-f3c5-11e8-9908-27d63a1684bc.png)

[2018-11-29 10:00] layershifter commented on #538
@miroslavstastny It seems that we need correct our import:

[code]

And may be, add internal typings for this package to avoid such situations.

[2018-11-29 10:12] miroslavstastny commented on #538
@layershifter, yes, that import helps. What I am thinking about is what we can do to prevent these kind of errors in the future - we use docsite, which uses es, but never test commonjs.

[2018-11-29 10:16] layershifter commented on #538
@miroslavstastny the simplest way is:
- enable `strictMode` fully and drop `allowSyntheticDefaultImports` in our compiler config
- use typings for all packages (they define exports correctly, `import * as React` vs `import React`)

This solved all our problems at my previous project.

[2018-11-29 10:21] miroslavstastny commented on #538
Cool, but see https://github.com/stardust-ui/react/issues/184#issuecomment-418657685.

[2018-11-29 10:24] kuzhelov commented on #538
may suggest to mitigate first, and then provide fix for preventing that

[2018-11-29 10:25] miroslavstastny commented on #538
yes, going to create a PR in a minute.

[2018-11-29 12:19] jurokapsiar opened #542 "[RFC] Submenu functionality in Menu component"
## Feature Request

### Problem description
Menu should allow defining submenus. Each menu item can have a submenu.
Submenu should follow ARIA specification and best practices:
https://www.w3.org/TR/wai-aria-practices/#menu
https://www.w3.org/TR/wai-aria-practices/examples/menubar/menubar-1/menubar-1.html

especially with regards to the rendered DOM strucutre and keyboard navigation:
- Submenu sho

[2018-11-29 13:21] #538 closed, assigned to nobody

[2018-11-30 00:23] codepretty opened #546 "Reorganize the Menu component proposal"
## Feature Request

### Problem description
Stardust Menu component doc site has 3 Types & 22 Variations. It is confusing to navigate through and parse the examples to find what is needed.

### Proposed solution
We should have Types, Slots, Variations, and Usages with the appropriate examples. We might also want to consider having different components for some of the examples, such as Tabs and Dro

[2018-11-30 00:26] codepretty commented on #546
Should some of our Menu examples be a different component?

## Tabs component
We have an example for **Menu as a Tab List**. Is this the right place for it or should it be a new component? Some other sites have a component called **Tabs** that is different from a **Menu** component.
* Material UI
-- Tabs: https://material-ui.com/demos/tabs/
-- Menus: https://material-ui.com/demos/menus/
* Lightnin

[2018-11-30 09:05] layershifter commented on #433
@levithomason I will suggest to add `@stardust/docs` for our reusable utils and components for docs.

[2018-11-30 09:28] layershifter opened #547 "Impossible to build project with Parcel or Rollup"
## Bug Report

The same problem as in #497.

### Steps

1. Prepare project

[code]

2. Paste code

[code]

### Expected Result

Everything works.

### Actual Result

![image](https://user-images.githubusercontent.com/14183168/49280464-f6557b80-f492-11e8-8335-1d393fd09a4f.png)

### Version
0.13.0

[2018-11-30 09:30] layershifter commented on #547
It happens because we importing `classnames` as namespace in `dist` code, however `classnames` exports `default` instead of namespace.

Fix:
[code]

https://github.com/DefinitelyTyped/DefinitelyTyped/pull/25205
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/25206

[2018-11-30 09:41] layershifter commented on #546
### BlueprintJS

Menu: https://blueprintjs.com/docs/#core/components/menu
Tabs: https://blueprintjs.com/docs/#core/components/tabs

[2018-11-30 09:44] layershifter commented on #547
https://github.com/palantir/blueprint/issues/2221
https://github.com/palantir/blueprint/pull/2200

However, not sure that it's the best idea to change `tsconfig.json` in this case.

[2018-11-30 10:22] layershifter opened #548 "Typings: correct typings to match propTypes"
## Bug Report

The latest release of [@types/react](https://www.npmjs.com/package/@types/react) with TS 3.2 breaks all our builds on **Project Tests** stage.

### Steps

Build any PR.

### Expected Result

CI pass.

### Actual Result

![image](https://user-images.githubusercontent.com/14183168/49283476-8519c680-f49a-11e8-924a-285cb85075cc.png)

[2018-11-30 10:23] layershifter commented on #548
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/30730#issuecomment-443137450

[2018-11-30 10:40] layershifter commented on #548
An example of failed build #549.

[2018-11-30 10:45] layershifter commented on #548
It's not clear to me what will be done with these changes in `@types/react`.

I think that for now the best option for us will be use `yarn`'s `resolutions` to get the stable release of `@types/react`.

[2018-11-30 15:05] layershifter commented on #548
https://github.com/DefinitelyTyped/DefinitelyTyped/pull/30730#issuecomment-443228682
https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/prop-types/index.d.ts#L40

The problem is with types difference.

[2018-11-30 15:20] layershifter commented on #548
Proposed solution:

[code]

[code]

[2018-11-30 15:32] layershifter commented on #548
https://github.com/facebook/prop-types/blob/v15.6.2/factoryWithTypeCheckers.js#L205

[2018-11-30 17:57] levithomason commented on #467
Solved in #525, we're removing the layout and item layout until we find a correct abstraction.

[2018-11-30 18:00] levithomason commented on #525
@Bugaa92 I don't think you can close an issue from the description of another issue.  The "fixes" statement at the bottom here likely needs to be moved to a PR.

[2018-11-30 18:10] levithomason commented on #532
This issue template is not complete and I cannot tell what is being communicated.  Please complete the steps explicitly so that others can understand how to fix the issue.  Also, it is important to include the version number and update the test case.  We will then have the info we need to help, thanks!

[2018-11-30 18:12] levithomason commented on #522
@miroslavstastny I believe you had a closing comment on this topic after we discussed the above (see my last comment).  Can you post here and close this issue?

[2018-11-30 18:13] levithomason commented on #506
1. We need to inherit color in the icon.  We also need to set `fill` to `currentColor` so that SVG icons also inherit font colors.
1. We should then add an example to the icon page so that visual tests can catch this in the future.

[2018-11-30 18:16] levithomason commented on #464
Confirmed.  It appears the aria prop is also not updated on click.  We need to update the accessibility behavior to set aria selected based on the item's active prop.

😕 Womp, actually we don't even have a list item `active` prop.  Let's add that first...

[2018-11-30 18:19] levithomason commented on #424
This is working as expected.  HTML supports any prop the user wishes to pass so we cannot limit them.  Example, `<Status data-my-prop />`.

[2018-11-30 18:19] #424 closed, assigned to nobody

[2018-11-30 18:21] levithomason commented on #412
State is never managed for children in React.  A component can only manage the state of the children if the component internally creates and controls those children.

### Solution

Use the shorthand `items` prop instead and the state will be automatically controlled.

[2018-11-30 18:21] #412 closed, assigned to nobody

[2018-11-30 18:24] levithomason commented on #409
Valid bug, however, users should not be specifying size on every icon like this.  The Menu should have a `size` prop which scales the concerns of the menu.

[2018-11-30 18:27] levithomason commented on #395
Heads up, the Teams theme will not have any font icons.  There are SVGs that are currently being ported over.

[2018-11-30 18:31] levithomason commented on #370
Fixed

[2018-11-30 18:31] #370 closed, assigned to nobody

[2018-11-30 18:35] levithomason commented on #300
The suggested approach to this is to apply the proper props to the button to achieve the style you need.  Why?

1. Parents cannot responsibly override the styles of all possible children.
1. There is currently no dedicated concept for something like "list item action"

For `2`, this is something that might prove useful and something we may consider adding.  We just need more examples of this in th

[2018-11-30 18:35] #300 closed, assigned to nobody

[2018-11-30 19:01] levithomason commented on #534
Thanks @lolero, yes we definitely will support this.  There is an API currently for adding `icons` to the `theme` that you pass to your `Provider`, however, we need documentation to show this.

Let's get some docs added to this workflow.

[2018-11-30 19:05] levithomason commented on #502
@kuzhelov Here's the issue that corresponds to the docgen work you're doing.

[2018-11-30 19:08] levithomason commented on #488
The MVP is merged and prototype is available.  However, this component is too specific to be a Stardust component.  If a consumer requires this control, they should implement it as shown in the prototype.

[2018-11-30 19:08] #488 closed, assigned to nobody

[2018-11-30 19:12] levithomason commented on #421
#327 was closed since primary/secondary doesn't make sense in the context of a Divider.  Instead, they will have `color`s.  See #451 for the color palette and divider color work.

[2018-11-30 19:15] levithomason commented on #313
The Semantic Popup allows for positioning on any side.  It also also allows for adding vertical and horizontal offsets to align it perfectly.  It has had many iterations for a few years.
 Let's start with this API:

`position`: https://react.semantic-ui.com/modules/popup/#variations-position
`offset`: https://react.semantic-ui.com/modules/popup/#variations-offset

[2018-11-30 19:19] levithomason commented on #257
I think this topic is too large and we'll need to break it down to make any meaningful progress.  Example, consider the work involved in just the palette color names.  We'll need similar investigation and thinking on site variables, component variables, design terms, etc.

Suggest we close this issue and target one of these specific topics at time.

[2018-11-30 19:20] levithomason commented on #231
I think there are good cases to remove this.  Let's have a discussion in one of our arch meets.

[2018-11-30 19:25] levithomason commented on #198
Let's not do this one right now:
- It can be easily achieved with very minimal styling
- It is hard to compose as a component, as it requires very specific usage in the page
- It is hardly ever used in an application

[2018-11-30 19:25] #198 closed, assigned to nobody

[2018-11-30 19:28] levithomason commented on #196
This is going to be a complex component.  The author should have extensive knowledge and experience with grid systems, both in design and web over the last 5 or so years.

[2018-11-30 19:30] levithomason commented on #192
Agreed.  From a UI component usability standpoint, we need to support nested `<List />` components as well as nested `<Accordion />` components.

[2018-11-30 19:31] levithomason commented on #186
Yes, please close issues when PRs are merged.  Do this automatically by adding `Fixes #186` in plain text to the PR description.

[2018-11-30 19:31] levithomason commented on #2
We are dealing with this on a case by case basis.  The agreement is to not have any property-value pairs that make for awkward english reading.

[2018-12-03 09:16] layershifter commented on #548
We decided to go with:

[code]

[code]

[2018-12-03 13:37] kuzhelov commented on #423
Have thoroughly reviewed the discussion, have several questions that would like to clarify:

### Material UI approach is not included in stats

For some reason Material UI Color System is not covered in the stats - at the same time, they provide one of the most comprehensive reviews on this topic. Frankly, was surprised a bit with that.

### 'On' colors (for text, icons, other content..)
Here, in

[2018-12-03 14:49] layershifter commented on #423
I agree, it's strange that I missed it. However, if you will check #451, the result is quite similar to Material UI 😄
https://material.io/design/color/the-color-system.html#tools-for-picking-colors

Accessibility is a very important thing, but it is not covered by this RFC. We cannot cover all aspects in single run.

We discussed in offline that one of next steps will be implementation of color pa

[2018-12-03 15:24] mnajdova commented on #526
### TL;DR
@vadimvar, please, suggest the use case so that we will be able to better address the issue. While some motivation is provided in the description, there is not enough context to be absolutely sure what this use case is about.

------------

Could you, please, suggest the use case of this? The `staticStyles` are something that is written in the body of the page, so they cannot be used for

[2018-12-03 16:24] bmdalex commented on #536
Control messages will be implemented by clients following our suggestions here:
- branch: [proto/chat-control-messages](https://github.com/stardust-ui/react/tree/proto/chat-control-messages) (see  docs/src/prototypes/controlMessages)
- short demo:
![cobtrol-messages](https://user-images.githubusercontent.com/5442794/49386571-28c7d880-f720-11e8-94a6-14d4f7619795.gif)

[2018-12-03 16:24] #536 closed, assigned to bmdalex

[2018-12-03 19:29] sophieH29 commented on #434
The library author might fix it by extending library API https://github.com/ten1seven/what-input/issues/80
Waiting for their response.

[2018-12-03 19:39] vadimvar commented on #526
I deal with a component which is hard coding styles and the only workaround would be to use static styles. While the other team is refactoring it, we still need to unblock the scenario. This in fact could be a quite common case for teams transitioning to N* principles.
My static styles are big and I don't want to mix them with the code where root provider is defined
Lookin on static styles I see i

[2018-12-03 23:47] #467 closed, assigned to nobody

[2018-12-03 23:57] kuzhelov commented on #231
agree, this is an obsolete issue - currently the problem that has been raised is resolved. All the styling aspects (i.e. both styles and variables) are now driven by theme author, so there is nothing that is built into core Stardust logic. Closing

[2018-12-03 23:57] #231 closed, assigned to nobody

[2018-12-04 12:41] mnajdova opened #554 "Docs example can be broken and merge into master without any check"
## Bug Report

### Steps
With the latest release and the changes introduced for the Editor, we introduced problems with one of the examples for the Popup which was using react-dom. Currently this is how the example looks.
![image](https://user-images.githubusercontent.com/4512430/49442366-967c0f00-f7c9-11e8-9680-d6f28b2e20f9.png)

### Expected Result
The examples on the docs should always work. We

[2018-12-04 12:45] layershifter commented on #554
We can try to render them with `SourceRender` and throw error if it happened.

[2018-12-04 13:27] #520 closed, assigned to nobody

[2018-12-04 16:56] #409 closed, assigned to bmdalex

[2018-12-04 18:15] kuzhelov commented on #395
with recent adjustments provided to icons is not an issue anymore (starting from v0.13.1) 👍

[2018-12-04 18:15] #395 closed, assigned to codepretty

[2018-12-04 19:27] johannao76 opened #557 "Popup not closing when in Menu"
## Bug Report

### Steps
When using Popup with Menu, clicking on a menu item when another menu item's popup is open, will not close the original item. Use this code snippet in the docs site:
[code]

### Expected Result
When a menu item's popup is open, clicking on another menu item should close the popup and open the clicked item's popup.

### Actual Result
We end up with two open popups

### Vers

[2018-12-04 22:06] levithomason commented on #546
This is much needed thanks.  We should not show all permutations of our variations in the docs.  They should serve as definitions of the component and its variations only.

Let's also add states to the menu reorg.

***

In the future, we may consider adding additional visual test cases that would remove the need for us to show permutations of props in the docs.  It may also be helpful to see an ex

[2018-12-05 10:32] #423 closed, assigned to layershifter

[2018-12-05 10:52] layershifter commented on #426
This issue is unblocked now because #423 was resolved 👍

[2018-12-05 12:23] hughreeling commented on #257
Closing issue.  Most of the points are either raised or already addresses in different PR.

[2018-12-05 12:23] #257 closed, assigned to nobody

[2018-12-05 14:25] silviuaavram commented on #448
really not sure what happened here. probably that Github outage ? Closing

[2018-12-05 14:25] #448 closed, assigned to nobody

[2018-12-05 14:42] kuzhelov commented on #355
closed by #519

[2018-12-05 14:42] #355 closed, assigned to nobody

[2018-12-05 14:48] silviuaavram opened #560 "Address dropdown improvement requests"
This summarizes all points mentioned in the comments untill 1/3/2019:

**Code:**

- [x] rename DropdownLabel to DropdownSelectedItem and make changes as necessary (#725)
- [ ] improve semantics/description of DropdownLabel onClick prop, as it applies only on image/text click.
- [x] refactor setA11yState to use Portal. Follow up with Roman on this.
- [ ] allow getA11ySelectionMessage, itemToString

[2018-12-05 20:44] jurokapsiar opened #564 "Chat message focus ring visible when focus comes from mouse"
## Bug Report

Focus ring should be visible only when the element is focused using keyboard. Currently, Chat.Message gets focus ring also when focused using the mouse

### Steps
In the Chat example, click on any of the chat messages and observe the focus ring.

### Expected Result
Focus ring is not visible when the message is focused using mouse. Only if it is focused using keyboard

### Actual Re

[2018-12-05 20:51] jurokapsiar opened #565 "Selectable list focus handling"
## Feature Request

Selectable list has a specific focus handling:
- The list itself needs to have tabindex=0 by default
- When the list is focused, its tabindex needs to be changed to -1, the tabindex of the currently navigable item needs to be set to 0. Consequently, that item needs to be focused.
- When the list and listitems loose focus, tabindex of the items should be set to -1 and tabindex o

[2018-12-05 22:06] #526 closed, assigned to nobody

[2018-12-06 09:16] miroslavstastny commented on #186
This issue was created as a follow-up of #83. In that PR, `disabled` prop was added to `MenuItem` but no support for disabled menu item was implemented.

[2018-12-06 11:59] miroslavstastny commented on #557
The problem is that when a `MenuItem` is clicked:
1. whole menu is updated,
2. this results in `Popup.componentDidUpdate()`,
3. which removes click listener.
4. and re-adds it in `setTimeout()`.

Document click event is called between steps 3 and 4 resulting in the event being missed by the `Popup`.

Click on the *Upcoming Events* opens popup:
[code]

Click on the *Reviews*:
[code]

[2018-12-06 13:11] #421 closed, assigned to layershifter

[2018-12-06 14:15] miroslavstastny opened #572 "CSS Fallback values do not work"
## Bug Report

### Steps
[code]
### Expected Result
`MenuItem::a` has following styles:
[code]

### Actual Result
![image](https://user-images.githubusercontent.com/9615899/49589437-b6e2cf80-f969-11e8-92ee-000833020803.png)

### Version
0.14.0

[2018-12-06 14:58] robinweser commented on #516
Feel free to send a PR to Fela to fix it =)
I‘m also planning a context based rtl/ltr switch ability, but im not sure how that fits in the plans here

[2018-12-06 17:38] sophieH29 opened #576 "Popup: do not focus trigger after outside click"
## Bug Report

### Steps
- Open popup
- click outside

### Expected Result
Nothing should be focused. The focus should go to trigger only when Esc button press, or when toggling on a trigger.

### Actual Result
Focus goes to the trigger

[2018-12-06 18:19] bmdalex commented on #560
TODO from my side:

### 1. Create better styles by defining and using more variables rather than hardcoding styles:

https://github.com/stardust-ui/react/pull/422/files#diff-bf3c97918f9b89d2eda22d1f160ba5c2R1

### 2. Address remaining issues:

I apologize for the late review but I think there are quite a few of issues that need addressing. Please take a look at the comments and the following bugs

[2018-12-06 19:26] bmdalex opened #577 "Add consistency to position prop values: `'before' | 'after'` vs `'start' | 'end'`"
## Add consistency to position prop values: `before|after` vs `start|end`

### Problem description
We have an inconsistency on how refer to items being positioned to the left vs to the right of a reference item. We're using both:

`before|after`: for `Button`, `Icon` and `Popup` components

`start|end`: for `Input`, `Label` and `Menu` (with `Menu.Item`) components

### Proposed solution

#### Solu

[2018-12-06 20:40] #394 closed, assigned to nobody

[2018-12-06 22:59] #506 closed, assigned to nobody

[2018-12-07 12:49] #572 closed, assigned to miroslavstastny

[2018-12-07 14:43] miroslavstastny commented on #532
The problem is that Typescript cannot correctly infer type for `shareFromSent_root`.
It infers `textAlign` to be a string but it should be TextAlignProperty (string literal). To avoid that kind of issues, you should type your objects explicitly, in this case `shareFromSent_root: ICSSInJSStyle`.

You should also avoid type assertions like `as CSS.FlexDirectionProperty` - these would allow you to pa

[2018-12-07 14:43] #532 closed, assigned to nobody

[2018-12-07 15:56] hughreeling opened #580 "Add typescript examples to DocSite components"
## Feature Request
Add typescript examples to DocSite. Currently only javascript code examples.

### Problem description
Currently DocSite contains only javascript examples.  Now significant number of people are coding using TypeScript and having these examples would be helpful, especially for getting started.

### Proposed solution
Add switching method between Typescript and Javascript code examp

[2018-12-07 16:05] layershifter commented on #580
Duplicate #495 😸

[2018-12-07 16:23] #580 closed, assigned to nobody

[2018-12-07 16:27] #576 closed, assigned to sophieH29

[2018-12-07 21:40] levithomason commented on #554
We had a test in Semantic UI React that simply renders all examples and ensures there were no errors.  We should do the same.

Just note that the example file needs to be rendered _through_ the `ComponentExample` opposed to render the example file source directly.  This way, we are sure the example works in the editor and not just that the example itself works.

[2018-12-08 14:01] kuzhelov opened #581 "RTL works incorrectly when `rtl` theme prop is changed dynamically (with no remount of Provider)"
## Bug Report
Stardust component will be improperly displayed in RTL mode if `rtl` flag is changed dynamically for parent `Provider` component - i.e. when there is no remount of `Provider` component's instance happened.

Specifically, the root cause of this issue is absence of remount for Fela's `Provider` component.

### Steps
- create simple example and render Stardust `Button` component
[code]

[2018-12-08 14:09] kuzhelov opened #582 "RTL mode breaks styles in docs"
## Bug Report

When RTL mode is enabled for component example in docs, styles are not applied to rendered component.

### Steps
- open component docs page of Stardust
- navigate to any component's page (say, `Segment`)
- enable RTL mode for any example

### Expected Result
Styles are properly rendered (preserved) for the rendered component.

### Actual Result
Styles completely disappear for render

[2018-12-08 14:50] #582 closed, assigned to nobody

[2018-12-10 10:06] silviuaavram commented on #388
Implemented in https://github.com/stardust-ui/react/pull/422. Closing.

[2018-12-10 10:06] #388 closed, assigned to silviuaavram

[2018-12-10 11:05] hughreeling commented on #495
Or at least add Typescript specific gotya and examples.  For example:

const centered = {
  textAlign: 'center',
}

doesn't work
Should be

const centered: ICSSInJSStyle = {
  textAlign: 'center',
}

[2018-12-10 12:35] kuzhelov commented on #560
Let me provide set of additional problems that were discovered.

### Tab results in item being moved to dropdown's selected area

When TAB is pressed while focus is on the item from the dropdown list, the item becomes selected.Expected behavior, however, is that focus will just be passed to the next focusable item, without any item being added to the selected list.

This is, actually, one of the r

[2018-12-10 13:55] layershifter commented on #535
Is not more actual after #568.

[2018-12-10 13:56] #535 closed, assigned to nobody

[2018-12-10 14:06] hughreeling opened #586 "Provider is not setting styles to theme"
## Bug Report

### Steps
Create react-app and add Stardust

[code]

[code]
![image](https://user-images.githubusercontent.com/6866507/49738518-db071f00-fc8f-11e8-8df2-37e4c9db4739.png)

### Expected Result
"Learn React" would be black text on white background - like teams theme
"Build your Future" would be white text on black background - as dark theme

### Actual Result
The actual result that hap

[2018-12-10 16:32] bmdalex opened #588 "[RFC] `Chat.Item` `grouped` prop for describing groups of chat items"
## [RFC] `Chat.Item` `grouped` prop for describing groups of chat items

#### Legend:
- **batch**: group of consecutive messages from the same participant

### Problem description

#### What?

We need a way to describe either:
- batches of chat messages;
- or chat messages that are not the first in a batch.

#### Why?

There are scenarios where there needs to be a clear visual indication that diff

[2018-12-10 17:56] layershifter commented on #417
https://github.com/stardust-ui/react/pull/587#issuecomment-445905932

[2018-12-10 17:56] #417 closed, assigned to nobody

[2018-12-10 18:05] layershifter opened #589 "Docgen: parse `constructorName` from AST"
## Feature Request

We need try to replace this with parsing the AST that is provided in `getComponentInfo()`.

### Problem description

https://github.com/stardust-ui/react/blob/v0.14.0/build/gulp/plugins/util/getComponentInfo.ts#L45
This `require()` will cause the TS transpilation of all included files, this slowdowns our build in CI for 20 seconds. Local builds are slowed down, too.

[2018-12-10 18:57] bmdalex commented on #588
we will go with solution 1 as discussed

[2018-12-11 10:50] #547 closed, assigned to nobody

[2018-12-11 10:51] layershifter commented on #497
@filipmares FYI: we fixed this in #570 👍

[2018-12-11 13:43] silviuaavram commented on #560
To be added: clearable prop that will create 'X' icon (in place of the dropdown) and will clear the selected value(s) in the dropdown.
Will need to identify use cases. Like how to handle both clearable and toggle. And maybe other cases as well.

[2018-12-11 13:44] silviuaavram commented on #560
To be refactored: trigger button. Needs to support shorthand value in order for it to be customisable.

[2018-12-11 14:47] jurokapsiar opened #594 "RTL text rendering in components"
## Feature Request

### Problem description
Based on discussion from #5
In general, we need to get to a state where the text nodes are inside of elements that have dir='auto' attribute. This allows the browser to detect the text direction.

### Proposed solution
If the text is composed of multiple parts (typically a translation with parameters), each of the parts needs to be separated in <span dir

[2018-12-11 19:52] levithomason commented on #588
Our reasoning was:

- Not `consecutive` as it doesn't make sense to the first element in the list, which also needs to be styled.
- Not `Chat.Group` as this breaks the pattern we have of groups being top level containers that hold several children.  In this case, it would hold several `Chat.Message`s, not `Chat`s.  It would also require parsing and styling children or removing children and using o

[2018-12-11 19:53] #588 closed, assigned to bmdalex

[2018-12-11 19:53] levithomason commented on #577
Following after the CSS alignment values, we will use `start` and `end` for consistency.

[2018-12-11 19:53] #577 closed, assigned to nobody

[2018-12-11 19:54] #522 closed, assigned to nobody

[2018-12-11 19:57] levithomason commented on #134
Now that this approach has been tested, we don't see a feasible way to do this.  The difficulties were browser support and passing paths around in the theme.

[2018-12-11 19:57] #134 closed, assigned to nobody

[2018-12-11 23:48] jurokapsiar commented on #560
"Tab results in item being moved to dropdown's selected area" from @kuzhelov 's  [comment](https://github.com/stardust-ui/react/issues/560#issuecomment-445800651) is intentional. This should not be changed.

[2018-12-12 14:05] jurokapsiar opened #604 "ButtonGroup should not be navigable using arrow keys"
## Feature Request

Button Group should not be navigable using arrow keys

### Problem description
Users do not have any information, that the keys are available. If the intention of the user is to have related buttons, Menu component with ToolbarBehavior should be used instead.

### Proposed solution
Remove ButtonGroupBehavior

[2018-12-12 14:10] miroslavstastny commented on #97
I spent some time trying to find a way to commit&push updated stats from CI back to github but haven't found any reasonably solution.
- CircleCI cannot ignore tags,
- even if that would work, each tag would appear as a release in GitHub.

Instead of hacking a suboptimal solution I would rather merge this and progress to the next step which is **an external storage**. In the mean time we can:
1. ei

[2018-12-12 14:43] #507 closed, assigned to nobody

[2018-12-12 15:45] #434 closed, assigned to sophieH29

[2018-12-12 23:29] #604 closed, assigned to nobody

[2018-12-12 23:30] #557 closed, assigned to nobody

[2018-12-12 23:30] kuzhelov commented on #557
addressed in #598

[2018-12-13 10:00] silviuaavram commented on #560
When !search && !multiple, dropdown is closed and there is already a value selected, Down/Up should focus value +/- 1 instead of 0 / size - 1. (intention is to fix from Downshift)
When letter key is pressed and dropdown is open, should focus on items starting with that key.
When Home/End key is pressed, first/last option should be highlighted.
Left and Right should go through the already selected

[2018-12-13 12:11] #537 closed, assigned to bmdalex

[2018-12-13 12:17] bmdalex commented on #504
fixed by #528

[2018-12-13 12:17] #504 closed, assigned to nobody

[2018-12-13 16:46] sophieH29 opened #610 "AutoControlled component does not handle NOT autocontrolled state"
## Bug Report

### Steps
Let's ```componentA``` is derived from ```AutoControlled``` component

```componentA``` has state object
[code]

And has autocontrolled state and props

[code]

Steps:
1. Use component
[code]
2. Debug component
3. Check applied state to component

### Expected Result
Expected state is
[code]

### Actual Result
[code]

As a result, ```state``` of the component is not taken

[2018-12-13 19:46] #313 closed, assigned to nobody

[2018-12-13 23:02] levithomason commented on #136
@codepretty Let's normalize sizes before they get too far out of hand.  We currently have many ways of sizing components.  Let's see if we can normalize all components to:

largest
larger
large
medium
small
smaller
smallest

For themes that may want 5 sizes, just have the largest/smallest sizes use the same values as larger/smaller to limit them.

[2018-12-14 11:50] miroslavstastny opened #613 "Unable to use Stardust in TS project with --isolatedModules"
## Bug Report

### Steps
Create react app:
[code]
Add stardust package, `Provider`, `Button`, run the app

### Expected Result
Works

### Actual Result
App fails to compile because of the two following errors 💣
1. FocusZone (under our control):
[code]

2. Fela (out of our control, currently in all Fela version, up to 10.0.1):
[code]

### Version
0.14.0

### Why this is important
- `create-react-ap

[2018-12-14 15:14] layershifter opened #615 "Docs: crash on click on "Shorthand API""
## Bug Report

### Steps

1. Open https://stardust-ui.github.io/react/components/ref
2. Click "Try it" on the first example
3. Then click on "Shorthand API"

![image](https://user-images.githubusercontent.com/14183168/50011031-a82c9600-ffc3-11e8-90fd-0ba521946477.png)

A clear and concise description of steps to reproduce the problem.

### Expected Result
"Shorthand API" is disabled

### Actual Re

[2018-12-14 15:16] layershifter opened #616 "Docs: empty item in component sidebar"
## Bug Report

### Steps
1. Open any docs page:
https://stardust-ui.github.io/react/components/button
https://stardust-ui.github.io/react/components/form

### Expected Result
The empty item is present.

### Actual Result

![image](https://user-images.githubusercontent.com/14183168/50011088-d3af8080-ffc3-11e8-800d-e0ecc7afdac9.png)

[2018-12-14 17:29] alinais commented on #290
covered by #349

[2018-12-14 17:29] #290 closed, assigned to nobody

[2018-12-17 09:18] alinais opened #620 "Show popup on trigger hover"
## Feature Request

### Problem description
There are cases when you hover on the trigger of the Popup and you'd like to see it. This item is supposed to implement this work.

### MVP
[Fork, update, and replace this pen if you can show the proposed solution]:
https://codesandbox.io/s/2l3n74j9y

[2018-12-17 16:30] bmdalex opened #625 "[RFC] Components color prop"
# [RFC] Components color prop

## Description
We need to implement `color` prop for some of our components (as described in #426).

There are a few issues that popped up while implementing the `color` prop for `Text`(#597):

## 1. Priority of props that change color:
### Problem
Some components have multiple props that change colors, we need to come up with a consistent pattern on how these are ap

[2018-12-17 17:18] bmdalex commented on #625
#### 1. Priority of props that change color:
Go with Proposal

#### 2. How to pick a variant for text color and box/background color?
ColorPalette is generic and can be used by more themes. Choose variant based on redlines provided by theme designer.
#### 3. What tool to use for deciding text color for components where color prop sets background?
Skip for now as there are a lot of variables in pla

[2018-12-17 17:18] #625 closed, assigned to bmdalex

[2018-12-18 08:39] jurokapsiar commented on #560
Additional requirements - we will turn them into issues when defined:
1. Expose DropdownLabel onHover
2. Loader
3. List max height

[2018-12-18 09:46] sophieH29 opened #626 "Selectable list - focus ring is visible when use mouse"
TODO:
- use ```IsFromKeyboard``` to detect if the last input was keyboard or mouse and style focus ring appropriately

[2018-12-18 13:53] bmdalex opened #629 "[RFC]: Colors - choosing text color for box components (where color props sets background color)"
## [RFC]: Colors - choosing text color for box components (where color props sets background color)

### Problem description
We need to automatically change text color for box components (components where `color` prop goes to background color)

What tool to use for deciding text color for different background shades?

### Proposed solution
Use `color` package and `Color(bgColor).isDark` call to de

[2018-12-18 13:54] bmdalex commented on #629
**Q: How do we choose the shades of light and dark text colors?**

A: We need to:
- wait for designers to give us the right redlines for what text colors to use;
- we need to create more proposals and iterate on them, @levithomason would be great if you could summarize your thoughts on these proposals

[2018-12-18 13:57] aichi opened #630 "Aria roles list is missing role 'alert'"
When playing with accessibility property on stardust component I realised that role="alert" is not allowed by Stardust, but is valid role: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_alert_role Can it be added? Thx.

[2018-12-18 14:48] aichi opened #633 "'accessibility' attribute is not available on all Stardust components."
As the preferred way to set Aria role is via Accessibility behaviours which can be passed via `accessibility` component attribute, I expect that every Stardust component would allow it. Segment, nor Text allow it for now.

[2018-12-18 14:50] aichi opened #634 "I am missing a checkbox component."
This feature request is to have a checkbox component which is having nicer styling than basic HTML checkbox element. It can look like as a toggle button.

You can check how we implement it in Boolean renderer.

[2018-12-18 15:50] hughreeling opened #635 "Icon - bordered and circular props not working as expected"
## Bug Report

### Steps
[code]

### Expected Result
The result that you expected.
![image](https://user-images.githubusercontent.com/6866507/50165273-e3410900-02e4-11e9-8f5b-46e14d9ce69f.png)

Bordered always have border
Circular should set only shape to circular (not add border)

### Actual Result
![image](https://user-images.githubusercontent.com/6866507/50165053-62820d00-02e4-11e9-9484-b2a6d84

[2018-12-18 16:37] bmdalex opened #636 "[RFC] Color prop for components where it can target multiple areas (content, background)"
# [RFC] Color prop for components where it can target multiple areas (content, background)

## Problem description
Let's take the example of `Label` component. The `color` prop for a label can have at least 2 targets:
- the color of the text
- the color of the label's background

How should we create props for this type of components?

## Solution 1
Always pick an area that color goes to and chang

[2018-12-18 22:29] joheredi opened #641 "Async Popup doesn't update position and alignment"
## Bug Report
When Popup content is loaded asynchronously and it needs to expand, Popup grows in a direction that no longer honors position and alignment

![asyncpopup](https://user-images.githubusercontent.com/21109913/50186898-28f3d680-02d1-11e9-83c0-84706ed7e57b.gif)

### Steps
[code]

### Expected Result
After content is loaded and Popup resized, it should maintain its position and alignment

[2018-12-19 09:28] #464 closed, assigned to nobody

[2018-12-19 09:28] #565 closed, assigned to nobody

[2018-12-19 13:43] bmdalex commented on #636
@levithomason
@kuzhelov
@mnajdova
@layershifter
@miroslavstastny

can you guys express your thoughts?

[2018-12-19 14:02] miroslavstastny commented on #636
From consumer's point of view I vote for Solution 3 - it's theme's responsibility to match correct foreground to the background.
More importantly, it's also up to the theme to decide what the `color` prop means - for one theme, it can mean to set background, for other theme to set border color...

[2018-12-19 14:40] sophieH29 opened #645 "MenuItem's "onFocus" is not handled as prop"
Currently, ```MenuItem``` handles  onFocus event with this code:

[code]

BUT, ```onFocus``` is not added as handled props to ```propTypes``` and ```MenuItemProps```.
So, when passing ```onFocus``` from the client side, inner handling wouldn't work.

[2018-12-19 15:28] bmdalex commented on #636
Agreed, thanks @miroslavstastny
### How would you handle overriders?

Let's say a user really wants to set a different color for foreground than the one set by `color` prop, while maintaining the background color set by `color` prop. How would that work?

## Solution 1
One idea is to make color related `variables` higher priority than `color` prop and retain the existing variables as some default

[2018-12-19 16:49] #542 closed, assigned to nobody

[2018-12-19 16:55] mnajdova opened #649 "The subscription for EventStack should be refactored in the Popup and MenuItem components"
## Bug Report

@kuzhelov: The implementation used in the Popup and the MenuItem for subscribing to EventStack has one subtle problem: although it solves the issue of item being opened and closed within the same frame, it also opens possibility for the following behavior:

MenuItem has opened submenu, this opened prop value doesn't change anyhow for the next JS frame.
///------ JS FRAME --------///

[2018-12-20 09:44] sophieH29 opened #653 "FocusZone - create proper documentation with examples"
As a user of Stardust, I would like to have a proper documentation on a `FocusZone`, so I can refer to it and understand all possible use cases for it.

[2018-12-20 09:45] sophieH29 opened #654 "FocusTrapZone - create proper documentation with examples"
As a user of Stardust, I would like to have proper documentation on a FocusTrapZone, so I can refer to it and understand all possible use cases for it.

[2018-12-20 10:05] jurokapsiar commented on #475
handle focus zone should be changed to "handle accessibility"

[2018-12-20 10:47] jurokapsiar opened #655 "Expose accessibility in createComponent public API"
## Feature Request

Consumers need to be able to pass a behavior object as `accessibility` in the `createComponent` public API and retrieve the `accessibility` prop in their `render` method .

### Problem description

Following code should wrap the rendered CustomComponent in a focus zone:
[code]

[2018-12-20 11:00] #548 closed, assigned to layershifter

[2018-12-20 11:06] layershifter commented on #629
I think that we don't need to do something automatically, we should define mapping explicitly. As I see, described issue should be covered by #636.

[2018-12-20 11:11] layershifter commented on #636
### What does Bootstrap?

https://getbootstrap.com/docs/4.1/components/alerts/#examples
![image](https://user-images.githubusercontent.com/14183168/50281515-f7ede000-044f-11e9-8850-1c7c9df5ff5b.png)

### What does SUI?

https://semantic-ui.com/collections/message.html
![image](https://user-images.githubusercontent.com/14183168/50281560-1ce25300-0450-11e9-8693-6f893606c27d.png)

### What does Bulma

[2018-12-20 11:14] layershifter commented on #636
I will vote for **Solution 1**. We need to create a color schema and allow define its parts via variables, this looks like nearest Starbucks 😺

[2018-12-20 12:54] mnajdova opened #657 "Popup defaultOpen is not working"
## Bug Report

### Steps
Setting defaultOpen on the Popup is not working

### Expected Result
If defaultOpen is set to true on the Popup it should be opened.

### Actual Result
The Popup is not opened.

### Version
0.15.0

### Testcase
[Fork, update, and replace this pen to show the bug]:
https://codesandbox.io/s/2l3n74j9y

[2018-12-20 13:05] bmdalex commented on #636
@layershifter - thanks for the input

#### How would you see this color schema work for a `Label` let's say where the `color` prop needs to color both `background` and `textColor` / `foreground` (whatever we want to refer to it as)?

According to your comment about what other libraries do (https://github.com/stardust-ui/react/issues/636#issuecomment-448960412) we might want:
[code]

to create one

[2018-12-20 13:09] bmdalex commented on #629
closing as this is covered by #636 now

[2018-12-20 13:09] #629 closed, assigned to bmdalex

[2018-12-20 13:50] mnajdova opened #660 "docs(FormField): improve examples for the usage of the control prop"
## Feature Request

### Problem description
Defining custom controls, or adding additional properties to the controls, like placeholder for example, is not obvious.

### Proposed solution
We should create more examples about how they can be defined, and even maybe introduce the `kind` property proposed in https://github.com/stardust-ui/react/issues/512 for handling different controls.

[2018-12-20 14:26] layershifter commented on #636
My opinion: some colors should be manually mapped (_if your palette is not great_ :) ), in development mode we can throw warning about unaccessible colors in scheme.

Can you capture a screenshot with a palette from default theme?

[2018-12-20 15:22] #657 closed, assigned to mnajdova

[2018-12-20 15:23] bmdalex commented on #636
Here's the screenshot (still not great for orange and yellow):

![screenshot 2018-12-20 at 17 15 53](https://user-images.githubusercontent.com/5442794/50292876-f2f25600-047a-11e9-871c-b48548fa3258.png)

1. Do we really want to do all this manually?
2. Would it be at component level?

What about defining a foreground and background colors that works for any of the variants for each color? At least

[2018-12-20 15:29] layershifter commented on #636
At theme level. As I remember there has been already discussion about it and we decided to have a basic scheme on theme level and extend it in components if there will be need.

[2018-12-20 19:06] bmdalex commented on #636
@layershifter

I attempted to implemented a generic color scheme at theme level that is used only for Label now, can you take a look on the PR #647 , please?

here's the commit:
https://github.com/stardust-ui/react/pull/647/commits/43cc49680b90e555b9df08de5021420984a9ac60

### Color Scheme attempt screenshots:

#### Teams Theme
![screenshot 2018-12-21 at 14 28 47](https://user-images.githubusercon

[2018-12-21 10:59] hughreeling opened #662 "DocSite HTML render doesn't work with Provider"
## Bug Report

### Steps
A clear and concise description of steps to reproduce the problem.

![image](https://user-images.githubusercontent.com/6866507/50339314-75305800-0517-11e9-835f-cf3fa0550765.png)

Code examples that use Provider don't show rendered HTML - and there is no error / warning indication to user.

### Expected Result

Either code renders as expected, or warning / informational mes

[2018-12-21 12:43] miroslavstastny opened #664 "Expose `styles` in createComponent public API"
## Feature Request

### Problem description
To compose `createComponent` with standard Stardust components (render Stardust component inside `createComponent`) it is not allowed to pass css-in-js classes to the Stardust component, styles must be used instead (#467).

### Proposed solution
Add `styles` to `createComponent` so that it is possible to pass styles to Stardust component

[2018-12-21 14:51] jurokapsiar opened #665 "Make Menu API less error prone"
## Feature Request

It is very easy to create a Menu component structure that does not work correctly.

### Problem description
1. Children API is still possible even if the doc site states that it is not supported
2. When items are passed as shorthand in Menu, they are not always rendered correctly:
- `<Menu items={[ <div>Random Text </div> ]} />`
- `<Menu items={[ () =><div>Random Text </div> ]}

[2018-12-21 20:52] johannao76 commented on #641
This is a big problem for @mentions and emojis as for these the popup needs to dynamically change height and the popup needs to stay anchored at its original location.

[2018-12-26 20:05] ydogandjiev opened #666 "[RFC] Loader (Spinner)"
## Feature Request
Startdust needs a progress indicator control (e.g. spinner and/or progress bar) that can be used to indicate to users that the app or some subset of its UI is loading.

### Problem description
I'm trying to migrate my app over from the Office UI Fabric to Stardust and have so far been unable to find a replacement for the Spinner control:
https://developer.microsoft.com/en-us/fab

[2018-12-27 20:57] joheredi opened #667 "[RFC] Menu separator (vertical and horizontal)"
## Feature Request
Implement Vertical Divider
### Problem description
Stardust already provides a [horizontal divider](https://stardust-ui.github.io/react/components/divider), however, it lacks a vertical divider. Supporting a "vertical" prop would come in handy. For instance to separate menu items in toolbars

[2019-01-02 07:52] miroslavstastny opened #668 "Docsite: initial knobs state ignored"
## Bug Report

### Steps
In Docsite check an example with knobs, (ItemLayout/Truncate).

### Expected Result
The example behaves according to knobs

### Actual Result
Knobs state is ignored until it is touched 💣
In the screenshot below, both header and content text should be truncated but knobs attribute passed to the example is empty object.
![image](https://user-images.githubusercontent.com/9615

[2019-01-02 08:22] jurokapsiar commented on #667
Renamed the issue to specifically address menu. Creating a standalone vertical separator might or might not be a prerequisite.

[2019-01-02 08:53] jurokapsiar opened #669 "Accessibility: Behaviors for submenu (toolbar and menu)"
## Feature Request

Create/update behaviors for a menu or toolbar that contain submenu.
- add aria-haspopup and aria-expanded attributes based on the submenu state
- keyboard navigation for toolbar behavior

### MVP
https://www.w3.org/TR/wai-aria-practices-1.1/examples/menubar/menubar-1/menubar-1.html#

[2019-01-02 10:20] layershifter commented on #668
[code]

This change will fix the issue 👍

[2019-01-02 10:21] jurokapsiar commented on #289
this is a duplicate of #584

[2019-01-02 10:21] #289 closed, assigned to nobody

[2019-01-02 11:11] silviuaavram opened #671 "Creating a component slot with .create function will not apply styles"
## Bug Report
Creating a component slot with .create function will not apply styles from the styles file to that slot.
### Steps
The code from DropdownLabel.tsx:
[code]

Both Icon and Image will not get styles applied to them from labelStyles.ts.
Both icon and image are shorthands, passed into the Dropdown component. To see the actual bug, go to the Dropdown component in the docs, example Multiple

[2019-01-02 11:36] hughreeling commented on #513
Looked fixed by PR 656

[2019-01-02 11:36] #513 closed, assigned to nobody

[2019-01-02 11:52] #554 closed, assigned to nobody

[2019-01-02 13:03] jurokapsiar commented on #461
Submenu is now available.
On top of it, following issues will need to be implemented to allow toolbar functionality as discussed above:
#667
#669

[2019-01-02 16:56] layershifter commented on #610
[code]

The `autoControlledState` variable is assigned inside `constructor()` of `AutoControlledComponent`, [AutoControlledComponent.tsx#L149](https://github.com/stardust-ui/react/blob/v0.15.0/src/lib/AutoControlledComponent.tsx#L149).

The `SomeComponent`'s constructor will be called after it and this means that it will simply reassign the `state` property 👎  More details on [StackOverflow](https

[2019-01-03 07:55] miroslavstastny opened #676 "Function is not a valid shorthand"
## Bug Report

### Steps
[code]

### Expected Result
Custom render function is used (as described in #355), no warning

### Actual Result
Custom render function is used as expected,
There is warning in console: 💣
[code]

### Version
0.15.0

### Testcase
https://codesandbox.io/s/6jmvkyyz9w

[2019-01-03 09:48] #645 closed, assigned to sophieH29

[2019-01-03 10:07] layershifter commented on #560
#### 1. Strange naming for `toggleButton`

![image](https://user-images.githubusercontent.com/14183168/50632063-5d14fb80-0f4f-11e9-89ad-7d3173d70e64.png)

- it's not `button` at all
- it can be `indicator` (used in `react-select` or any other name)

#### 2. `toggleButton` is not shorthand

There is no way to apply props to it 😿

[2019-01-03 10:12] layershifter commented on #560
### 3. `toogleButton` is not visible by default

It should be visible by default because this is a common behavior. Even when is `multiple`.

#### SUIR

https://react.semantic-ui.com/modules/dropdown/
![image](https://user-images.githubusercontent.com/14183168/50632488-b7628c00-0f50-11e9-94a1-8d530332f576.png)

#### react-select

https://react-select.com/home
![image](https://user-images.githubuse

[2019-01-03 16:41] levithomason commented on #666
Thanks for the notice.  We do need two components for this.

### Progress

A stateful progress bar component.  Reference: https://react.semantic-ui.com/modules/progress

### Loader

A stateless animated component for indicating something is loading.  Reference: https://react.semantic-ui.com/elements/loader.

[2019-01-03 23:18] johannao76 opened #680 "onClick handler does not work properly for List component"
## Bug Report

### Steps
Create a List component using shorthand props for the items list. Specify an onClick handler for each item.

### Expected Result
When an item is clicked on, the onClick handler is called and the item is passed in as the second argument (as it works with menu items currently).

### Actual Result
The item is not passed to the callback

### Version
0.13.1

### Testcase
[code]

[2019-01-04 07:42] silviuaavram commented on #671
Update: The icon is not tabbable anymore either when I used .create function. It gets the listeners from `this.handleIconOverrides` but it is not accessible by Tab/Shift Tab anymore.
If I use `        icon={{
          name: 'close',
          onClick: () => {},
        }}` it will get the `cursor: 'pointer'` by default and also the `tabindex="0"` by default.

[2019-01-04 08:21] jurokapsiar commented on #666
Let's use this issue for Loader (Spinner). It is also needed to accomplish the Dropdown loading state. I have created #681 for the progress bar.

[2019-01-04 08:22] jurokapsiar opened #681 "[RFC] Progress bar component"
## Feature Request

Progress
A stateful progress bar component. Reference: https://react.semantic-ui.com/modules/progress

[2019-01-04 13:55] hughreeling opened #683 "Rename 'circular' variant of label, 'rounded'"
## Feature Request

Minor request to rename property / variant

### Problem description
We have 'circular' variant for label.
![image](https://user-images.githubusercontent.com/6866507/50691330-a8eba180-1030-11e9-8275-709e577ad362.png)

However, label is not circular - it has rounded corners.

### Proposed solution
A clear and concise description of what you want to happen. Add any considered draw

[2019-01-04 14:41] mnajdova opened #684 "unicode characters used as arrows in the components are not RTL aware"
## Bug Report

### Steps
Try to render the Accordion or Menu components as an example, and apply the RTL mode.

### Expected Result
The arrows should be flipped right -> left, left -> right.

### Actual Result
The right arrows are always shown.

### Version
0.15.0

[2019-01-07 14:46] kolaps33 opened #687 "Ability to remove arrow from submenu"
## Feature Request

### Problem description
When I use menu with 'toolbarButtonBehavior'
and the button has submenu,
then 'arrow key' next to button is displayed.

I would like to remove arrow key.

![image](https://user-images.githubusercontent.com/22620150/50774293-565def80-1293-11e9-93e3-1618c873c033.png)

### Proposed solution

### MVP
[Fork, update, and replace this pen if you can show the pr

[2019-01-08 10:23] kolaps33 opened #691 "Accessibility > Menu > Tab list > menu for overflow tabs in tab list"
## Feature Request

### Problem description
As output during the implementation
https://github.com/stardust-ui/react/pull/686

We figure out that we are missing accessibility for overflow tabs, which can be displayed in the menu.

### Proposed solution
Need to find out the proper way how to handle it.
There need to be element which will be holding menu to trigger, an it can be:
- part of the tab l

[2019-01-08 13:02] #684 closed, assigned to nobody

[2019-01-08 13:09] hughreeling opened #692 "Remove references to Segoe Font in Stardust"
## Feature Request

### Problem description
Currently have hard coded references to westeuropean version of segoe fonts from sharepoint servers.

If users want other regional characters, then these aren't available.

### Proposed solution
Base themes, and stardust itself to use standard browser fonts.

### MVP
[Fork, update, and replace this pen if you can show the proposed solution]:
https://code

[2019-01-09 09:53] layershifter commented on #508
https://github.com/gaearon/react-hot-loader#typescript

![before](https://user-images.githubusercontent.com/14183168/50891845-ddcb7000-1405-11e9-87c4-8fdaf83a5bea.gif)

[2019-01-09 14:17] #641 closed, assigned to nobody

[2019-01-09 15:52] #610 closed, assigned to nobody

[2019-01-09 16:45] #667 closed, assigned to nobody

[2019-01-09 17:26] #495 closed, assigned to layershifter

[2019-01-09 17:26] #615 closed, assigned to nobody

[2019-01-10 11:24] #676 closed, assigned to nobody

[2019-01-10 15:18] layershifter commented on #581
This happens because `RendererProvider` calls [`render()`](https://github.com/rofrischmann/fela/blob/master/packages/fela-dom/src/dom/render.js#L8)  only in its [`constructor()`](https://github.com/rofrischmann/fela/blob/master/packages/fela-bindings/src/RendererProviderFactory.js#L34) and this means that a subscription for DOM updates will be never created.

I found the similar issue, https://git

[2019-01-10 15:49] #190 closed, assigned to nobody

[2019-01-10 16:45] levithomason commented on #171
Thanks for the question. Component state is in scope for stardust but application state is out of scope.

[2019-01-10 16:45] #171 closed, assigned to nobody

[2019-01-10 16:46] echarles commented on #171
Thx for the answer.

[2019-01-10 16:46] levithomason commented on #203
Closing for housekeeping.  The current proposal above is our guideline for now.  We would like to refine this moving forward.  Better ideas welcome please.

[2019-01-10 16:46] #203 closed, assigned to nobody

[2019-01-10 16:58] levithomason commented on #192
We should take our new Tree component and extend it with design features necessary to create other variations.

[2019-01-10 18:51] levithomason commented on #176
See #176

[2019-01-10 22:29] #176 closed, assigned to nobody

[2019-01-11 00:13] levithomason commented on #666
Loader is in progress at #685

[2019-01-11 09:34] #666 closed, assigned to layershifter

[2019-01-11 14:04] miroslavstastny opened #703 "jest --detectLeaks reports memory leaks"
## Bug Report

### Steps
[code]

### Actual Result
Memory leak reported 💣
![image](https://user-images.githubusercontent.com/9615899/51037985-245dcd80-15b2-11e9-8c04-9976eca68866.png)

### Version
0.16.1

[2019-01-11 14:07] miroslavstastny commented on #703
This is caused by import of `lodash/fp`, following minimal example (empty nodejs project, no TS) fails as well:
[code]

Importing lodash/fp functions one by one works for us.

[2019-01-11 15:40] #581 closed, assigned to layershifter

[2019-01-11 15:52] #620 closed, assigned to nobody

[2019-01-11 16:43] kuzhelov opened #706 "Opened Popup causes infinite render loop"
## Bug Report

### Steps
![popup-problem](https://user-images.githubusercontent.com/9024564/51047220-3e0a0f80-15c8-11e9-8dcd-b3a2e6766f23.gif)

### Expected Result
There is at least finite amount of rerendering cycles involved in rendering opened popup.

### Actual Result
Infinite React rerendering loop is triggered. 💣

### Version
0.16.1

[2019-01-11 17:52] #636 closed, assigned to bmdalex

[2019-01-11 18:00] mnajdova opened #707 "Improving the color mechanism and organization"
## Improvement for the color mechanism

This issue will keep track of the possible improvements for the color definitions and the mechanism used for creating the color scheme.
1. The siteVariables are polluted with lots of different concepts related to colors: scheme, contextualColors, emphasisColors etc. We can create one object in the siteVariables, where all these values will be assembled. For

[2019-01-14 13:07] #706 closed, assigned to nobody

[2019-01-14 13:32] miroslavstastny opened #715 "Teams theme: emoji icon is not centered"
## Bug Report

### Steps
[code]

### Expected Result
All icons take full space of the element or are centered

### Actual Result
Outline version is correctly centered, filled version is not  💣
![image](https://user-images.githubusercontent.com/9615899/51115652-28375d00-1809-11e9-928a-24a948112452.png)

### Version
0.16.1

[2019-01-14 13:39] miroslavstastny commented on #715
@codepretty - could you please check this?

[2019-01-14 13:44] miroslavstastny opened #716 "Teams theme: Add outline and filled classes to icons"
Add `outline` and filled` classes to icons so that they can be addressed by parent elements (used to fill icon on parent hover).
POC: #364.

Required for features where a component with an icon needs to show that icon's filled state when hovered. For example in #708.

[2019-01-14 14:16] kolaps33 opened #717 "Accessibility > ESC key on submenu of the submenu close all menus"
## Bug Report

### Steps
1. Navigate by keyboard in the submenu of submenu
![image](https://user-images.githubusercontent.com/22620150/51117893-4ef89200-180f-11e9-9ab0-83305d82913f.png)

2. press ESC key

### Expected Result
just current submenu is open and previous submenu is still open
Expected behavior verify here:
https://www.w3.org/TR/wai-aria-practices-1.1/examples/menubar/menubar-1/menubar-

[2019-01-14 17:11] layershifter opened #719 "Docs: unable to completely remove example's code"
## Bug Report

### Steps
1. Go to any example, https://stardust-ui.github.io/react/components/button#types-button
2. Click "Try it"
3. Select all lines in a source code and try to remove them with `Delete` or `Backspace` key'

### Expected Result
Code was cleared.

### Actual Result
![docs-delete](https://user-images.githubusercontent.com/14183168/51128106-680d3d00-1827-11e9-9412-c9d804464546.gif)

[2019-01-14 18:07] joheredi opened #722 "Menu Divider doesn't work with iconOnly + horizontal menu"
## Bug Report
Menu divider doesn't show up when the menu is horizontal and has iconOnly prop

### Steps
A clear and concise description of steps to reproduce the problem.

[code]

### Expected Result
Divider should show up in the right place

### Actual Result
No divider

### Version
0.16.2

[2019-01-15 09:01] #668 closed, assigned to layershifter

[2019-01-15 09:01] #719 closed, assigned to nobody

[2019-01-15 17:27] #186 closed, assigned to nobody

[2019-01-15 20:09] Octavianus opened #730 "Microsoft Teams theme: Add close icon to icons"
Add close icon to icons., great if to see this icon be available soon.
In Teamspace-Web, close icon is available, the SVG file is here
[close icon](https://domoreexp.visualstudio.com/Teamspace/_git/Teamspace-Web?path=%2FWebClient%2Fsrc%2Fapp%2Fsvg%2Ficons-close.html&version=GBdevelop)

Required for features where a component with an icon needs to show remove icon.
The feature spec is as follow:
[s

[2019-01-15 23:11] Octavianus opened #732 "Portal: firstFocusableSelector on button won't have focus style"
## Bug Report

Take the example portal as an example:
https://stardust-ui.github.io/react/components/portal#types-focus-trapped

### Steps
1. Give one of the button a className
2. Set firstFocusableSelector to that className.
3. Open the portal, notice that focus is correctly on that buton But:

### Expected Result
Focus button should have a focus style (border, darken background color)

### Actua

[2019-01-16 11:38] #447 closed, assigned to nobody

[2019-01-16 17:04] bmdalex opened #736 "Remove primary and secondary props"
## Feature Request

### Problem description
We're using these properties for `Button` and `Menu` components in order to offer the theme developers the ability to customize components in terms of behavior and emphasis.

We are introducing the `color` prop for all the components where it makes sense (see #426). One of the colors we're introducing is called `primary`
e.g. usage:
[code]
We found out t

[2019-01-16 19:32] alinais opened #738 "Avatar high contrast mode is not correct"
## Bug Report

### Steps
When switching theme to high contrast mode, the user is supposed to see a thin white border on the avatar and the status should have white background and black color.

### Expected Result
![image](https://user-images.githubusercontent.com/1826985/51273689-a5133400-19cd-11e9-85e3-52e9ab64ef19.png)

### Actual Result
![image](https://user-images.githubusercontent.com/1826985

[2019-01-16 21:57] musingh1 opened #739 "Color Scheme for black color"
## Feature Request
We have a scenario where we need a Label to have a black background
![image](https://user-images.githubusercontent.com/22622723/51280849-9872e980-1995-11e9-8fb4-17238bfd55c4.png)

### Problem description
This does not exist in the current colorSchemes
![image](https://user-images.githubusercontent.com/22622723/51280864-a7599c00-1995-11e9-9c3a-fb271c80526f.png)

### Proposed solu

[2019-01-17 09:40] #616 closed, assigned to nobody

[2019-01-17 14:40] mnajdova opened #742 "Customization of the arrow indicators in the Stardust components (Accordion, Menu, Dropdown, Tree)"
## Feature Request

### Problem description
There is no way to customization of the arrow indicators in the Stardust components:
- [x] Accordion Title
- [x] Menu Item
- [x] Dropdown
- [x] Tree

### Proposed solution
There should be mechanism for allowing the user to specify icon for that slot.

[2019-01-17 15:50] #626 closed, assigned to nobody

[2019-01-17 23:11] Octavianus commented on #732
Issue closed as discussed with @sophieH29
David, thank you for bringing up your concerns. If you open portal or dialog by using mouse, or the previous action prior to dialog opening you were doing by mouse, focus rings won't be visible. We are using the library for that called `what-input`, to style focus rings only when user using keyboard.
The reason why you see focus ring on the text element, b

[2019-01-17 23:11] #732 closed, assigned to nobody

[2019-01-18 12:43] mnajdova opened #744 "Avatar size example cannot be shown/edited"
## Bug Report

### Steps
Open the stardust's docs page: https://stardust-ui.github.io/react/ , navigate to the Avatar's size example, and try to click the _Try it_ option

### Expected Result
The code and rendered HTML should be opened

### Actual Result
The HTML generation is failing and the user is ending up with a blank page.

### Version
0.17.0

[2019-01-18 13:34] #744 closed, assigned to nobody

[2019-01-19 20:01] #703 closed, assigned to nobody

[2019-01-20 08:03] levithomason opened #749 "Remove isFromKeyboard in favor of :focus-visible"
## Feature Request

### Problem description
IsFromKeyboard is not like the other states. It requires runtime style compilation. We cannot iterate over the style functions and produce stylesheets due to the presence of this runtime state value.

We could opt to transform this state into a special class name and require consumers to use isFromKeyboard to apply the class name to their own components,

[2019-01-21 15:47] #687 closed, assigned to nobody

[2019-01-21 23:15] levithomason opened #753 "dropdownSearchInputStyles missing `root` key"
## Bug Report

### Steps
Call `dropdownSearchInputStyles.root()`

### Expected Result
Styles for the root element should be provided.

### Actual Result
[code]

### Version
0.17.0

### Testcase
See [dropdownSearchInputStyles.ts](https://github.com/stardust-ui/react/blob/master/src/themes/teams/components/Dropdown/dropdownSearchInputStyles.ts), there is no `root` key. 💣

### Fix Considerations

It

[2019-01-22 05:48] johannao76 opened #754 "Problems with Input component"
I am trying to use Input to render a textarea. I am able to get it to render with the correct styling. However, I am unable to prepopulate with a value that the user can then edit. I tried setting both the value prop and the defaultValue prop. Setting value populates the value initially, but when the user types characters in the field, nothing happens. I debugged this a bit and in this case, the t

[2019-01-22 06:00] levithomason commented on #754
### Fix

We need to provide a `<TextArea />` component.

### Workaround
This can be done the way you are trying to do it but it is a little tricky.

The `Input` manages it's own state, but only according to the `Input`'s props.  You'll need to pass `defaultValue` as a top-level prop, instead of a props key in the `input={}` shorthand:

[code]

I think this makes sense, because, the Input doesn't k

[2019-01-22 06:02] levithomason commented on #754
Note, the reason it "does not work" with a `value` prop is because that is a controlled component.  You'd need to handle state updates yourself:

https://reactjs.org/docs/forms.html#controlled-components

[2019-01-22 06:02] #754 closed, assigned to nobody

[2019-01-22 06:03] levithomason opened #755 "Add a TextArea component"
We need a `<TextArea />` as in SUIR: https://react.semantic-ui.com/addons/text-area.

Users are trying to handle this use case with an `Input` and it is not going well: #754.

[2019-01-22 06:04] levithomason commented on #754
See #755 for the component request.

[2019-01-22 10:40] mnajdova opened #757 "RTL examples are not tested with screener"
## Feature Request

### Problem description
We don't have any screen tests for the RTL examples. We may break some of the RTL functionalities without noticing.

### Proposed solution
We can mark some examples that are RTL representative and test them with RTL applied. This will allow us to catch any RTL related regressions on our PRs.

[2019-01-22 12:10] #477 closed, assigned to nobody

[2019-01-22 19:41] bhamlefty opened #760 "Keyframes - Animation override for transform values"
## Feature Request
I would like to be able to declare an animation and override the duration, delay, and keyframes when needed. This is particularly valuable in the case of transform animations. I would like to create animation templates for basic slide animations (up, down, left & right).  Since we have elements with different heights and widths that slide in and out of view it would be nice to b

[2019-01-22 21:52] Octavianus commented on #730
Any one has chance to take a look at this simple task :)

[2019-01-22 22:41] codepretty commented on #738
Status in the Teams app uses a base64 encoded background image, not an inline SVG. The image is swapped out in css each time a user changes to a different theme. Because the it is so teams specific, I don't think the css swapping of images belongs in Stardust. However, we probably should have an example of a status that uses a background image for testing and to avoid any regressions.

For this is

[2019-01-23 13:00] layershifter commented on #655
Fixed in #714.

[2019-01-23 13:00] #655 closed, assigned to nobody

[2019-01-23 13:00] layershifter commented on #664
Fixed in #714.

[2019-01-23 13:00] #664 closed, assigned to nobody

[2019-01-23 14:44] #671 closed, assigned to nobody

[2019-01-23 16:37] mnajdova commented on #588
I have a question around handling the grouped prop. There is difference whether the grouped prop is on consecutive message of the same author or not (we may argue that we may have also two consecutive grouped messages, and then again two consecutive grouped messages from the same author, but these four messages will represent two groups, as they were sent in different times). Having just the group

[2019-01-23 19:50] codepretty commented on #201
I think the Label component should be renamed. Label is confusing, even when not used inside of an Input. Most other companies call a Label a **Badge** or **Tag**.

- https://www.lightningdesignsystem.com/components/badges/
- https://blueprintjs.com/docs/#core/components/tag
- https://material-ui.com/demos/badges/